.signup-banner {
  display: none;
}

.right_col .page-title {
  font-family: Noto Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 150%;
  color: #18181B;
  box-shadow: 0px -1px 0px 0px #0000001A inset;
}
.right_col .page-title a {
  font-family: Noto Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 150%;
  color: #18181B;
}
.right_col .button-sec {
  display: none;
}

@media screen and (max-width: 768px) {
  .dashboard_container {
    margin-top: 0;
  }

  .login {
    background: #f8f8f8;
  }

  header .logo {
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  header .logo .toggle #menu_toggle {
    padding-top: 0;
  }

  .rating {
    display: flex;
    position: relative;
    font-size: 50px;
    margin-bottom: 16px;
  }

  .rating label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    cursor: pointer;
  }

  .rating label:last-child {
    position: static;
  }

  .rating label:nth-child(1) {
    z-index: 5;
  }

  .rating label:nth-child(2) {
    z-index: 4;
  }

  .rating label:nth-child(3) {
    z-index: 3;
  }

  .rating label:nth-child(4) {
    z-index: 2;
  }

  .rating label:nth-child(5) {
    z-index: 1;
  }

  .rating label input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }

  .rating label .icon {
    float: left;
    color: transparent;
  }

  .rating label:last-child .icon {
    color: #D4D4D8;
  }

  .rating:not(:hover) label input:checked ~ .icon,
.rating:hover label:hover input ~ .icon {
    color: #FFC300;
  }

  .rating label input:focus:not(:checked) ~ .icon:last-child {
    color: #D4D4D8;
    text-shadow: 0 0 5px #FFC300;
  }

  .login {
    padding-top: 0;
  }
  .login .input-field {
    height: 40px;
  }
  .login input {
    background-color: #fff !important;
  }
  .login .back-link {
    background: #FFFFFF;
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.05);
  }
  .login .back-link a {
    font-family: Noto Serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #3F3F46;
    padding: 16px 8px;
    box-shadow: 0px -1px 0px 0px #0000001A inset;
  }
  .login .back-link a img {
    width: 20px;
    height: 20px;
    margin-right: 17px;
    margin-left: 17px;
  }
  .login .container {
    max-width: 100%;
    padding: 0;
    margin: 0;
    overflow-y: hidden;
  }
  .login .container .login-inner {
    height: 100%;
  }
  .login .container .login-inner .login-right {
    margin: 0;
    height: 100%;
  }
  .login .container .login-inner .login-right .login-section {
    max-width: 100%;
    height: 100%;
    margin: 0;
    border-radius: 0;
    background: #F4F4F5;
  }
  .login .container .login-inner .login-right .login-section .logo img {
    width: 120px;
    height: 123.24px;
  }
  .login .container .login-inner .login-right .login-section .forgot-pass {
    margin-top: 50px;
  }
  .login .container .login-inner .login-right .login-section .input-field {
    margin-bottom: 48px;
  }
  .login .container .login-inner .login-right .login-section .input-field input {
    height: 40px !important;
    padding: 8px;
  }
  .login .container .login-inner .login-right .login-section .input-field input::placeholder {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: #27272A;
    opacity: 0.5;
  }
  .login .footer-login {
    display: none;
  }

  .signup-banner {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #8A0E49;
    padding: 16px 0;
  }

  .signup-section .login {
    background: #8A0E49;
  }
  .signup-section .login-section {
    background: #FFFFFF !important;
    border-radius: 20px 20px 0px 0px !important;
  }
  .signup-section .login-section h3 {
    font-family: Noto Serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 100.5%;
    color: #1F2937;
  }
  .signup-section .login-section p {
    font-size: 16px !important;
    line-height: 150%;
    color: #6B7280;
  }
  .signup-section .logo {
    display: none;
  }

  .top_nav .nav_menu {
    margin-bottom: 0;
  }
  .top_nav .nav_menu .navbar-right .user-profile {
    display: none;
  }
  .top_nav .nav_menu .navbar-right .dropdown {
    display: none;
  }

  .product-section {
    box-shadow: 0px 1px 0px 0px #0000000D inset;
  }
  .product-section .product-box {
    padding: 20px 0px 20px 20px !important;
    box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.06) !important;
    border-radius: 4px !important;
  }
  .product-section .product-box .add-new-address {
    display: flex;
    align-items: center;
    padding-left: 6px;
    font-size: 18px;
    font-weight: 600;
    font-family: inherit;
  }
  .product-section .product-box .add-new-address input {
    margin-right: 10px;
  }

  #buyer-shop .right_col .dashboard-inner {
    background: #F4F4F5;
  }
  #buyer-shop .right_col .product-banner {
    width: 100%;
    height: 100%;
  }
  #buyer-shop .right_col #banner-carousel {
    width: 100%;
    height: 136px;
  }
  #buyer-shop .right_col #banner-carousel .banner-details {
    padding-left: 8px;
  }
  #buyer-shop .right_col #banner-carousel .banner-details p {
    display: none;
  }
  #buyer-shop .right_col #banner-carousel .carousel-indicators {
    bottom: -48px;
    right: 0;
    left: auto;
    margin-right: 0;
  }

  .eshop .right_col .page-title {
    display: none;
  }
  .eshop .right_col .product-banner {
    padding: 0;
  }
  .eshop .right_col .product-banner .banner-image {
    height: 187px;
    border-radius: 0;
    object-fit: cover;
  }
  .eshop .right_col .product-banner .banner-section {
    margin-top: -90px;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0px !important;
  }
  .eshop .right_col .product-banner .banner-section img {
    width: 95px !important;
    height: 95px !important;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.06)), drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.1));
  }
  .eshop .right_col .product-banner .banner-section .banner-content {
    justify-content: center;
    align-items: center !important;
  }
  .eshop .right_col .product-banner .banner-section .banner-content h3 {
    padding: 8px !important;
    font-family: inherit;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #2D2B2B;
  }
  .eshop .right_col .product-banner .banner-section .banner-content p {
    text-align: center;
  }
  .eshop .right_col .product-banner .alert {
    margin: 16px !important;
    align-items: center;
    background: rgba(20, 184, 166, 0.2);
    border: 1px solid #14B8A6;
    box-sizing: border-box;
    border-radius: 4px;
  }
  .eshop .right_col .product-selection {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    background: #F7F7F7 !important;
  }
  .eshop .right_col .page-selection {
    padding-left: 0 !important;
  }

  .eshop .dashboard_container .add-product-page .dashboard-inner .product-banner .banner-section .banner-content .common-button {
    justify-content: space-between !important;
  }

  #product-detail .right_col .page-title {
    display: block;
    padding-left: 10px;
  }
  #product-detail .right_col .page-title a {
    font-family: Noto Serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #3F3F46;
  }
  #product-detail .right_col .page-title a img {
    width: 20px;
    height: 20px;
    margin-right: 8px;
  }
  #product-detail .right_col .product-main {
    flex-direction: column;
    margin-bottom: 80px;
    background: #F8F8F8;
  }
  #product-detail .right_col .product-main .product-detail-cont {
    max-width: 100%;
  }
  #product-detail .right_col .product-main .product-detail-cont .browse-box {
    width: 100%;
  }
  #product-detail .right_col .product-main .product-detail-cont .browse-box img {
    width: 100%;
    height: 222px;
  }
  #product-detail .right_col .product-main .product-detail-slider-wrapper {
    padding: 16px 10px;
  }
  #product-detail .right_col .product-main .product-specification {
    max-width: 100%;
  }
  #product-detail .right_col .product-main .product-specification h2, #product-detail .right_col .product-main .product-specification h3 {
    padding: 0px 16px;
  }
  #product-detail .right_col .product-main .product-specification .spec-row {
    padding: 0px 16px;
  }
  #product-detail .right_col .product-main .product-specification .prod-desc, #product-detail .right_col .product-main .product-specification .prod-spec {
    background-color: #fff;
    padding: 16px 16px;
  }
  #product-detail .right_col .product-main .product-specification .prod-desc #accordion .panel-title a, #product-detail .right_col .product-main .product-specification .prod-spec #accordion .panel-title a {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    display: flex;
    align-items: center;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #product-detail .right_col .product-main .product-specification .prod-desc #accordion .panel-body p, #product-detail .right_col .product-main .product-specification .prod-spec #accordion .panel-body p {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 150%;
    color: #1D1F22;
  }
  #product-detail .right_col .product-main .product-specification .prod-spec {
    background-color: #fff;
    padding: 16px 16px;
    margin-top: 0;
    border-top: 1px solid #E5E5E5;
  }
  #product-detail .right_col .product-main .product-specification .prod-link {
    padding: 16px;
    background-color: #fff;
  }
  #product-detail .right_col .product-main .product-specification .prod-link a {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: #7A0D41;
  }
  #product-detail .right_col .common-button {
    background: #F8F8F8;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;
    justify-content: center;
    padding: 16px;
    display: flex;
    flex-direction: column;
  }
  #product-detail .right_col .common-button .purple-btn {
    max-width: 100%;
    height: 48px;
    margin-left: 0;
    border-radius: 4px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
  }
  #product-detail .right_col .common-button .white-bttn {
    margin-top: 8px !important;
    max-width: 100%;
    height: 48px;
    border-radius: 4px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #7A0D41;
  }

  #buyer-login .back-link {
    display: flex;
    justify-content: space-evenly;
  }
  #buyer-login .back-link a {
    font-family: Noto Serif;
    font-style: normal;
    font-weight: 600 !important;
    font-size: 16px !important;
    line-height: 150%;
    color: #3F3F46;
    padding: 16px;
  }
  #buyer-login .back-link a img {
    margin-right: 8px !important;
  }
  #buyer-login .container .order-summary {
    background: #FFC300;
    padding: 17px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #buyer-login .container .order-summary ul {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  #buyer-login .container .order-summary ul .text {
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.1px;
    color: #27272A;
  }
  #buyer-login .container .order-summary h3 {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.1px;
    color: #000000;
  }
  #buyer-login .login-section {
    background: #F8F8F8;
  }
  #buyer-login .login-section .logo {
    display: none;
  }
  #buyer-login .login-section .login-header {
    text-align: left;
    font-family: Noto Serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    color: #27272A;
  }

  #buyer-signup .login-section {
    background: #F4F4F5;
  }
  #buyer-signup .login-section .logo {
    display: none;
  }

  #buyer-login {
    background: #F8F8F8;
  }
  #buyer-login .back-link a img {
    width: 20px;
    height: 20px;
    margin-right: 0px;
    margin-left: 0px;
  }
  #buyer-login #buyer-shipping {
    height: auto;
    overflow: unset;
  }
  #buyer-login #buyer-shipping .login-section .input-field {
    margin-top: 0;
  }
  #buyer-login #buyer-shipping .login-section .input-field input::placeholder {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #27272A;
  }
  #buyer-login #buyer-shipping .login-section .login-header {
    font-family: Noto Serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    color: #27272A;
    margin: 4px 0px 32px 0px;
  }
  #buyer-login #buyer-shipping .login-section .login-header p {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #52525B;
    margin: 4px 22px;
  }
  #buyer-login #buyer-shipping .login-section .container {
    height: auto;
    overflow: unset;
    margin-top: 20px;
    margin-bottom: 32px;
  }
  #buyer-login #buyer-shipping .login-section .container #accordion .panel-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #buyer-login #buyer-shipping .login-section .container #accordion .panel-title a {
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding-left: 8px;
    padding-right: 8px;
  }
  #buyer-login #buyer-shipping .login-section .container #accordion .panel-body ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 32px;
    padding-top: 8px;
    padding-bottom: 16px;
    background: #fff;
  }
  #buyer-login #buyer-shipping .login-section .container #accordion .panel-body ul li {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  #buyer-payment {
    min-height: unset;
  }
  #buyer-payment .login-right {
    min-height: unset;
  }
  #buyer-payment .form-input-field {
    width: 100%;
  }
  #buyer-payment .input-field input::placeholder {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    display: flex;
    align-items: center;
    letter-spacing: 0.28em;
    color: #27272A;
  }
  #buyer-payment .card-details {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin-right: 16px;
  }
  #buyer-payment .card-details .card-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  #buyer-shipping .order-summary li img {
    margin-left: 6px;
    margin-right: 10px;
  }
  #buyer-shipping #buyer-payment .login-right .login-section .form-input-field {
    padding: 0;
    margin-bottom: 39px;
  }
  #buyer-shipping #buyer-payment .login-right .login-section .phone-no-wrapper #phone_number::placeholder {
    letter-spacing: 0px;
  }
  #buyer-shipping #buyer-payment .input-field p {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #000000;
  }
  #buyer-shipping #buyer-payment #upload-section {
    height: 80px;
    background: #F4F4F5;
  }
  #buyer-shipping #buyer-payment #upload-section input {
    width: 100%;
    height: 80px;
    background-color: #F4F4F5 !important;
    border-radius: 2px;
    border-bottom: 0px;
    padding-left: 0px !important;
    margin-top: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #F8F8F8;
  }
  #buyer-shipping #buyer-payment #upload-section input img {
    margin-right: 16px;
  }

  .support-heading .back-link {
    display: unset !important;
  }
  .support-heading .back-link a {
    background-color: #fff;
    font-family: Noto Serif;
    font-style: normal;
    font-weight: bold !important;
    font-size: 18px !important;
    line-height: 150%;
    color: #18181B;
    box-shadow: 0px -1px 0px 0px #0000001A inset;
    padding: 16px 24px !important;
  }

  #buyer-shipping #buyer-support {
    display: unset;
  }
  #buyer-shipping #buyer-support .input-field {
    height: 150px;
  }
  #buyer-shipping #buyer-support .input-field textarea {
    width: 100%;
    height: 136px;
    padding: 8px;
    border: none;
    border-bottom: 1px solid #A1A1AA;
    resize: none;
  }
  #buyer-shipping #buyer-support .support-btn {
    width: 100%;
    padding: 16px;
    position: fixed;
    bottom: 0;
  }
  #buyer-shipping #buyer-support .support-btn .purple-btn {
    height: 48px;
    background: #7A0D41;
    box-shadow: 0px 4px 8px rgba(138, 14, 73, 0.16);
    border-radius: 4px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
  }

  #buyer-orders .right_col {
    background: #F8f8f8;
  }
  #buyer-orders .right_col .page-title {
    box-shadow: 0px -1px 0px 0px #0000001A inset;
    padding: 12px 16px;
  }
  #buyer-orders .right_col .dashboard-inner {
    background: #f8f8f8;
  }
  #buyer-orders .right_col .dashboard-inner .product-section {
    justify-content: unset;
    padding: 0 8px;
  }
  #buyer-orders .right_col .dashboard-inner .product-section .product-box {
    max-width: 100%;
  }
  #buyer-orders .right_col .dashboard-inner .product-section .product-box .box-container {
    width: 100%;
    padding: 16px;
    margin-bottom: 16px;
    background-color: #fff;
    height: 117px;
    border-radius: 4px;
  }
  #buyer-orders .right_col .dashboard-inner .product-section .product-box .box-container .order-id {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
  }
  #buyer-orders .right_col .dashboard-inner .product-section .product-box .box-container .order-id li:nth-child(1) {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: #27272A;
  }
  #buyer-orders .right_col .dashboard-inner .product-section .product-box .box-container .order-id li:nth-child(2) {
    width: 24px;
    height: 24px;
    opacity: 0.5;
  }
  #buyer-orders .right_col .dashboard-inner .product-section .product-box .box-container h3 {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #27272A;
  }
  #buyer-orders .right_col .dashboard-inner .product-section .product-box .box-container .order-date {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #27272A;
  }
  #buyer-orders .right_col .dashboard-inner .product-section .product-box .box-container .order-date li:nth-child(2) .dispatch-btn {
    width: 84px;
    height: 29px;
    border-radius: 2px;
    padding: 4px 8px;
    margin: 0px;
    background: #3B82F6;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    display: flex;
    align-items: center;
    text-align: right;
    color: #FFFFFF;
    border: none;
  }
  #buyer-orders .right_col .dashboard-inner .product-section .product-box .box-container .order-date li:nth-child(2) .delivered-btn {
    width: 84px;
    height: 29px;
    border-radius: 2px;
    padding: 4px 8px;
    margin: 0px;
    background: #16A34A;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    border: none;
  }
  #buyer-orders .right_col .dashboard-inner .product-section .product-box .box-container .order-date li:nth-child(2) .shipped-btn {
    width: 115px;
    height: 29px;
    border-radius: 2px;
    padding: 4px 8px;
    margin: 0px;
    background: #FFC300;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    border: none;
  }

  #buyer-orders .page-title a img {
    margin-right: 8px;
  }
  #buyer-orders .order-detail .product-box .product-box-inner {
    width: 100%;
    display: unset;
    border-bottom: 0px;
    padding-bottom: 0px;
  }
  #buyer-orders .order-detail .product-box .product-box-inner .product-box-content {
    height: 139px;
    display: flex;
    flex-direction: column;
  }
  #buyer-orders .order-detail .product-box .product-box-inner .product-box-content .product-details {
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
    padding-bottom: 16px;
  }
  #buyer-orders .order-detail .product-box .product-box-inner .product-box-content .product-details img {
    width: 40%;
    height: 98px;
    border-radius: 4px 0px 0px 0px;
    object-fit: cover;
  }
  #buyer-orders .order-detail .product-box .product-box-inner .product-box-content .product-details .box-content {
    padding-bottom: 0;
    height: 98px;
  }
  #buyer-orders .order-detail .product-box .product-box-inner .product-box-content .p-rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding-left: 16px;
  }
  #buyer-orders .order-detail .product-box .product-box-inner .product-box-content .p-rating .rating {
    display: flex;
    position: relative;
    font-size: 50px;
  }
  #buyer-orders .order-detail .product-box .product-box-inner .product-box-content .p-rating .rating span {
    font-size: 24px !important;
    margin-right: 10px;
  }
  #buyer-orders .order-detail .product-box .product-box-inner .product-box-content .p-rating .rating label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    cursor: pointer;
  }
  #buyer-orders .order-detail .product-box .product-box-inner .product-box-content .p-rating .rating label:last-child {
    position: static;
  }
  #buyer-orders .order-detail .product-box .product-box-inner .product-box-content .p-rating .rating label:nth-child(1) {
    z-index: 5;
  }
  #buyer-orders .order-detail .product-box .product-box-inner .product-box-content .p-rating .rating label:nth-child(2) {
    z-index: 4;
  }
  #buyer-orders .order-detail .product-box .product-box-inner .product-box-content .p-rating .rating label:nth-child(3) {
    z-index: 3;
  }
  #buyer-orders .order-detail .product-box .product-box-inner .product-box-content .p-rating .rating label:nth-child(4) {
    z-index: 2;
  }
  #buyer-orders .order-detail .product-box .product-box-inner .product-box-content .p-rating .rating label:nth-child(5) {
    z-index: 1;
  }
  #buyer-orders .order-detail .product-box .product-box-inner .product-box-content .p-rating .rating label input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }
  #buyer-orders .order-detail .product-box .product-box-inner .product-box-content .p-rating .rating label .icon {
    float: left;
    color: transparent;
  }
  #buyer-orders .order-detail .product-box .product-box-inner .product-box-content .p-rating .rating label:last-child .icon {
    color: #D4D4D8;
  }
  #buyer-orders .order-detail .product-box .product-box-inner .product-box-content .p-rating .rating:not(:hover) label input:checked ~ .icon,
#buyer-orders .order-detail .product-box .product-box-inner .product-box-content .p-rating .rating:hover label:hover input ~ .icon {
    color: #FFC300;
  }
  #buyer-orders .order-detail .product-box .product-box-inner .product-box-content .p-rating .rating label input:focus:not(:checked) ~ .icon:last-child {
    color: #D4D4D8;
    text-shadow: 0 0 5px #FFC300;
  }
  #buyer-orders .order-detail .product-box .product-box-inner .product-box-content .review {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    color: #3B82F6;
    padding-right: 16px;
  }

  .order-detail .product-section {
    padding: 0 !important;
  }
  .order-detail .product-section .product-box {
    padding: 20px !important;
  }
  .order-detail .product-section .product-box .review-product {
    padding-bottom: 16px !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
  }
  .order-detail .product-section .product-box .review-product .product-box-content {
    display: unset !important;
  }
  .order-detail .product-section .product-box .review-product .product-box-content .product-details {
    border-bottom: 0 !important;
  }
  .order-detail .product-section .product-box .review-product .product-box-content .product-details img {
    height: 100%;
    border-radius: 4px !important;
    object-fit: cover;
  }
  .order-detail .product-section .product-box .review-product .product-box-content .product-details .box-content h2 {
    margin-bottom: 0px;
  }
  .order-detail .product-section .product-box .review-product .product-box-content .product-details .box-content p {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #4B5563;
  }
  .order-detail .product-section .product-box .review-product .product-box-content .product-details .box-content .p-rating {
    padding-left: 0px !important;
  }
  .order-detail .product-section .product-box .input-field {
    width: 100%;
    margin-top: 16px;
    margin-bottom: 16px;
  }
  .order-detail .product-section .product-box .input-field textarea {
    width: 100%;
    height: 159px;
    border: 1px solid #DADADA;
    border-radius: 4px;
    padding: 8px 12px 0px 12px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    color: #27272A;
    resize: none;
  }
  .order-detail .product-section .product-box .input-field textarea::placeholder {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    color: #27272A;
  }
  .order-detail .product-section .support-btn {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 16px;
  }

  #buyer-orders .manage-address .page-heading {
    padding: 15px 20px 11px;
    background: #fff;
  }
  #buyer-orders .manage-address .page-heading img {
    margin-right: 16px;
    vertical-align: text-bottom;
  }
  #buyer-orders .manage-address .page-heading a {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    text-transform: uppercase;
    color: #7A0D41;
    margin: 0px 2px;
  }
  #buyer-orders .manage-address .product-section .product-box {
    height: auto;
  }
  #buyer-orders .manage-address .product-section .product-box .box-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: auto !important;
    padding-top: 8px;
  }
  #buyer-orders .manage-address .product-section .product-box .box-container h3 {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    text-align: right;
    color: #27272A;
    margin: 4px 0px;
  }
  #buyer-orders .manage-address .product-section .product-box .box-container p {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: #27272A;
    margin: 4px 0px;
  }
  #buyer-orders .manage-address .product-section .product-box .box-container ul {
    margin: 4px 0px;
    display: flex;
    width: 100%;
  }
  #buyer-orders .manage-address .product-section .product-box .box-container ul .edit {
    padding: 0px 16px 0px 4px;
    margin-right: 16px;
    border-right: 1px solid #A1A1AA;
  }
  #buyer-orders .manage-address .product-section .product-box .box-container ul .edit a {
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 159.96%;
    color: #16A34A;
  }
  #buyer-orders .manage-address .product-section .product-box .box-container ul .delete {
    padding: 0px 16px 0px 4px;
  }
  #buyer-orders .manage-address .product-section .product-box .box-container ul .delete a {
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 159.96%;
    color: #EF4444;
  }

  #change-password .login-section {
    background: #F4F4F5;
  }
  #change-password .login-section .logo {
    display: none;
  }
  #change-password .login-section p {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    color: #27272A;
  }
  #change-password .login-section .input-field {
    margin-bottom: 64px;
  }
  #change-password .login-section .input-field input {
    background-color: #fff !important;
    border-bottom: 1px solid #A1A1AA;
  }
  #change-password .login-section .input-field button {
    position: fixed !important;
    left: 0;
    bottom: 0;
    margin-left: 12px;
    max-width: 95%;
  }

  #account-settings .back-link a {
    font-family: Noto Serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 150%;
    color: #18181B;
  }
  #account-settings .account-connections {
    padding: 16px;
  }
  #account-settings .account-connections .account-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #account-settings .account-connections .account-list .account-list-item {
    width: 100%;
    height: 48px;
    background-color: #fff;
    padding: 12px 16px;
    border-radius: 2px;
    margin-top: 8px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #account-settings .account-connections .account-list .account-list-item a {
    font-family: Source Sans Pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    color: #3F3F46;
  }
}

/*# sourceMappingURL=mobile-view.css.map */
