footer {
    .top_footer {
        padding: 24px 0px;
        background: #232F3E;
        p {
            font-weight: bold;
            font-size: 14px;
            line-height: 16px;
            text-transform: uppercase;
            color: #D3D3D3;
            margin-bottom: 16px;
            @media screen and(max-width: 525px) {
                margin-top: 32px;
            }
        }
        .contact_with {
            display: flex;
            flex-wrap: wrap;
            a {
                font-weight: 500;
                font-size: 16px;
                line-height: 19px;
                text-decoration-line: underline;
                color: #FFFFFF;
                flex: 1;
                @media screen and(max-width: 525px) {
                    flex: 0 0 100%;
                    margin: 0px 0px 10px 0px;
                    padding: 0;
                    text-align: left !important;
                    border: none !important;
                }
                &:last-child {
                    text-align: center;
                    border-left: 1px solid #FFFFFF;
                }
            }
        }
    }
    .bottom_footer {
        padding: 40px 0px 50px;
        background: white;
        .left_panel {
            .links {
                h2 {
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 24px;
                    text-transform: uppercase;
                    color: #333333;
                    margin: 0px 0px 16px;
                }
                ul {
                    li {
                        display: block;
                        margin-bottom: 10px;
                        &:last-child {
                            margin-bottom: 30px;
                        }
                        a {
                            display: block;
                            font-size: 16px;
                            line-height: 19px;
                            color: #333333;
                        }
                    }
                }
            }
            .payment_method {
                span {
                    font-size: 15px;
                    line-height: 20px;
                    letter-spacing: 0.457143px;
                    color: #000000;
                }
                img {
                    margin-left: 30px;
                    @media screen and(max-width: 525px) {
                        margin-left: 8px;
                    }
                }
            }
        }
        .right_panel {
            h2 {
                font-weight: bold;
                font-size: 12px;
                line-height: 14px;
                text-transform: uppercase;
                color: #333333;
                margin: 0px 0px 24px;
            }
            .icons_social {
                margin-bottom: 88px;
                a {
                    margin-right: 12px;
                }
            }
            h3 {
                font-weight: bold;
                font-size: 14px;
                line-height: 16px;
                text-transform: uppercase;
                color: #333333;
                margin: 0px 0px 24px;
            }
            p {
                font-size: 12px;
                line-height: 16px;
                color: #333333;
                margin-bottom: 16px;
            }
            .send_mail {
                padding: 1px;
                display: flex;
                align-items: center;
                border-radius: 2px;
                background: #FAFAFA;
                border: 1px solid #AEAEAE;
                box-shadow: 0px 2px 8px rgba(0, 1, 35, 0.1);
                border-radius: 4px;
                input {
                    padding: 8px;
                    width: calc(100% - 101px);
                    border: none;
                    font-size: 14px;
                    line-height: 22px;
                    color: #777777;
                }
                button {
                    min-width: 101px;
                    padding: 12px;
                }
            }
        }
    }
}