.signup-banner{
    display: none;
}

.right_col{
    .page-title{
        font-family: Noto Serif;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 150%;
        color: #18181B;
        box-shadow: 0px -1px 0px 0px #0000001A inset;
        a{
            font-family: Noto Serif;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 150%;
            color: #18181B;
            
        }
    }
    .button-sec{
        display: none;
    }
}

@media screen and (max-width: 768px){

    #iframeView{
        display: none !important;
        &::-webkit-scrollbar {
            display: none;
        }
    }

    html{
        &::-webkit-scrollbar {
            display: none;
        }
    }
    body{
        padding-top: 64px;
        &::-webkit-scrollbar {
            display: none;
        }
    }

    .login{
        display: block;
    }

    .header-wrap{
        display: flex;
    }

    .dashboard_container{
        margin-top: 0;
        display: flex !important;
    }

    .login{
        background: #f8f8f8;
    }

    header{
        .logo{
            width: 250px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .toggle{
                #menu_toggle{
                    padding-top:0;
                }
            }
        }
    }

    //***** Star Rating Style Start *****//
    .rating {
        display: flex;
        position: relative;
        font-size: 50px;
        margin-bottom: 16px;
    }
    .rating label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    cursor: pointer;
    }
    .rating label:last-child {
    position: static;
    }
    .rating label:nth-child(1) {
    z-index: 5;
    }
    .rating label:nth-child(2) {
    z-index: 4;
    }
    .rating label:nth-child(3) {
    z-index: 3;
    }
    
    .rating label:nth-child(4) {
    z-index: 2;
    }
    .rating label:nth-child(5) {
    z-index: 1;
    }
    .rating label input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    }
    .rating label .icon {
    float: left;
    color: transparent;
    }
    
    .rating label:last-child .icon {
    color:#D4D4D8;
    ;
    }
    
    .rating:not(:hover) label input:checked ~ .icon,
    .rating:hover label:hover input ~ .icon {
    color:#FFC300;
    ;
    }
    
    .rating label input:focus:not(:checked) ~ .icon:last-child {
    color:#D4D4D8;
    text-shadow: 0 0 5px #FFC300;
    }
    //***** Star Rating Style End *****//

    
    
    //******  ******//
    .login{
        padding-top:0;
        .input-field{
            height: 40px;
        }
        input{
            background-color: #fff !important;
        }
        .back-link{
            background: #FFFFFF;
            box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.05);
            a{
                font-family: Noto Serif;
                font-style: normal;
                font-weight: 600;
                font-size: 16px ;
                line-height: 150%;
                color: #3F3F46;
                padding: 16px 8px;
                box-shadow: 0px -1px 0px 0px #0000001A inset;

                img{
                    width: 20px;
                    height: 20px;
                    margin-right: 17px;
                    margin-left: 17px;
                }
            }
        }
        .container{
            max-width: 100%;
            padding: 0;
            margin: 0;
            // height: 100vh;
            overflow-y:hidden;
            .login-inner{
                height:100%;
                .login-right{
                    margin:0;
                    height: 100%;
                    .login-section{
                        max-width: 100%;
                        height:100%;
                        margin:0;
                        border-radius: 0;
                        background: #F4F4F5;
                        .logo{
                            img{
                                width: 120px;
                                height: 123.24px;
                            }
                        }
                        .forgot-pass{
                            margin-top: 50px;
                        }
                        .input-field{
                            margin-bottom: 48px;
                            input{ 
                                height: 40px !important;
                                padding: 8px;
                            }
                            input::placeholder{
                                font-family: Source Sans Pro;
                                font-style: normal;
                                font-weight: normal;
                                font-size: 16px;
                                line-height: 150%;
                                display: flex;
                                align-items: center;
                                color: #27272A;
                                opacity: 0.5;
                            }
                            
                        }
                    }
                }
            }
        }
        .footer-login{
            display: none;
        }
    }


    //signup.html
    .signup-banner{
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #8A0E49;
        padding: 16px 0;
    }
    .signup-section{
        .login{
            background: #8A0E49;
        }
        .login-section{
            background: #FFFFFF !important;
            border-radius: 20px 20px 0px 0px !important;
            h3{
                font-family: Noto Serif;
                font-style: normal;
                font-weight: bold;
                font-size: 24px;
                line-height: 100.5%;
                color: #1F2937;
            }
            p{
                font-size: 16px !important;
                line-height: 150%;
                color: #6B7280;
            }
        }
        .logo{
            display: none;
        }
    }

    .top_nav{
        .nav_menu{
            margin-bottom:0;
            .navbar-right{
                .user-profile{
                    display: none;
                }
                .dropdown{
                    display: none;
                }
            }
        }
    }

    // .right_col{
    //     .dashboard-card-outr{
    //         display: flex !important;
    //         flex-direction: column;
    //         .dashboard-card{
    //             margin-bottom: 16px;
    //             border-radius: 4px;
    //         }
    //     }
    // }
    .product-section{
        box-shadow: 0px 1px 0px 0px #0000000D inset;
        .product-box{
            padding: 20px 0px 20px 20px !important;
            box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.06) !important;
            border-radius: 4px !important;
            .add-new-address{
                display: flex;
                align-items: center;
                padding-left: 6px;
                font-size: 18px;
                font-weight: 600;
                font-family: inherit;
                input{
                    margin-right: 10px;
                }
            }
        }
    }

 
    //***** buyer-shop.html *****//
    #buyer-shop{
        .right_col{
            .dashboard-inner{
                background: #F4F4F5;
            }
            .product-banner{
                width: 100%;
                height:100%;
            }
            #banner-carousel{
                width: 100%;
                height:136px;
                .banner-details{
                    padding-left: 8px;
                    p{
                        display: none;
                    }
                }
                .carousel-indicators{
                    bottom: -48px;
                    right:0;
                    left:auto;
                    margin-right: 0;
                }
            }
            
        }
    }  
    
    .eshop{
        .right_col{
            .page-title{
                display: none;
            }
            .product-banner{
                padding: 0;
                .banner-image{
                    height:187px;
                    border-radius: 0;
                    object-fit: cover;
                }
                .banner-section{
                    margin-top: -90px;
                    flex-direction: column;
                    align-items: center;
                    padding-bottom: 0px !important;
                    img{
                        width: 95px !important;
                        height: 95px !important;
                        border-radius: 50%;
                        object-fit: cover;
                        border: 1px solid #FFFFFF;
                        box-sizing: border-box; 
                        filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.06)), drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.1));
                    }
                    .banner-content{
                        justify-content: center;
                        align-items: center !important;
                        h3{
                            padding: 8px !important;
                            font-family: inherit;
                            font-style: normal;
                            font-weight: 600;
                            font-size: 16px;
                            line-height: 24px;
                            text-align: center;
                            color: #2D2B2B;
                        }
                        p{
                            text-align: center;
                        }
                    }
                }
                .alert{
                    margin:16px !important;
                    align-items: center;
                    background: rgba(20, 184, 166, 0.2);
                    border: 1px solid #14B8A6;
                    box-sizing: border-box;
                    border-radius: 4px;
                }
            }

            .product-selection{
                padding-top:0px !important;
                padding-bottom: 0px !important;
                background: #F7F7F7 !important;
            }

            .page-selection{
                padding-left: 0 !important;
            }
        }
    }
    .eshop {
        .dashboard_container{ 
            .add-product-page{
                .dashboard-inner {
                    .product-banner{
                        .banner-section {
                            .banner-content {
                                .common-button{
                                    justify-content: space-between !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }



    //***** buyer-product-detail.html *****//
    #product-detail{
        .right_col{
            .page-title{
                display: block;
                padding-left: 10px;
                a{
                    font-family: Noto Serif;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 150%;
                    color: #3F3F46;
                    img{
                        width: 20px;
                        height: 20px;
                        margin-right: 8px;
                    }
                }
            }
            .product-main{
                flex-direction: column;
                margin-bottom: 80px;
                background: #F8F8F8;
                .product-detail-cont{
                    max-width: 100%;
                    // padding:16px;
                    .browse-box{
                        width:100%;
                        img{
                            width: 100%;
                            height: 222px;
                        }
                    }
                }
                .product-detail-slider-wrapper{
                    padding: 16px 10px
                }
                .product-specification{
                    max-width: 100%;
                    h2,h3{
                        padding: 0px 16px;
                    }
                    .spec-row{
                        padding: 0px 16px;
                    }
                    
                    .prod-desc, .prod-spec{
                        background-color: #fff;
                        padding: 16px 16px;
                        max-width: 100%;
                        #accordion{
                            .panel-title{
                                a{
                                    font-family: Source Sans Pro;
                                    font-style: normal;
                                    font-weight: 600;
                                    font-size: 16px;
                                    // line-height: 150%;
                                    display: flex;
                                    align-items: center;
                                    color: #000000;
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;
                                }
                            }
                            .panel-body{
                                p{
                                    font-family: Source Sans Pro;
                                    font-style: normal;
                                    font-weight: 300;
                                    font-size: 14px;
                                    line-height: 150%;
                                    color: #1D1F22;
                                }
                            }
                        }
                    }
                    .prod-spec{
                        background-color: #fff;
                        padding: 16px 16px;
                        margin-top:0;
                        border-top: 1px solid #E5E5E5;
                    }
                    .prod-link{
                        padding: 16px;
                        background-color: #fff;
                        a{
                            font-family: Source Sans Pro;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 14px;
                            line-height: 150%;
                            text-align: center;
                            color: #7A0D41;

                        }
                    }
                }
            }
            .common-button{
                background: #F8F8F8;
                position: fixed;
                bottom:0;
                width:100%;
                height: auto;
                justify-content: center;
                padding: 8px !important;
                display: flex;
                flex-direction: column;
                .purple-btn{
                    max-width: 100%;
                    height: 48px;
                    margin-left: 0;
                    border-radius: 4px;
                    font-family: Source Sans Pro;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    text-align: center;
                    color: #FFFFFF;
                }
                .white-bttn{
                    margin-top: 8px !important;
                    max-width: 100%;
                    height: 48px;
                    border-radius: 4px;
                    font-family: Source Sans Pro;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 150%;
                    text-align: center;
                    color: #7A0D41;
                }
            }
        }
    }
    

    //***** buyer-login.html *****//
    #buyer-login{
        .back-link{
            display: flex;
            justify-content: space-evenly;
            a{
                font-family: Noto Serif;
                font-style: normal;
                font-weight: 600 !important;
                font-size: 16px !important;
                line-height: 150%;
                color: #3F3F46;
                padding: 16px;
                img{
                    margin-right: 8px !important;
                }
                // &:active{
                //     color: #27272A;
                // }
            }
        }
        .container{
            .order-summary{
                background: #FFC300;
                padding: 17px 12px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                ul{
                    width: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    .text{
                        font-family: inherit;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 19px;
                        letter-spacing: 0.1px;
                        color: #27272A;
                        
                    }
                }
                h3{
                    font-family: Inter;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 19px;
                    letter-spacing: 0.1px;
                    color: #000000;
                }
            }
        }
        .login-section{
            background: #F8F8F8;

            .logo{
                display:none;
            }
            .login-header{
                text-align: left;
                font-family: Noto Serif;
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 150%;
                color: #27272A;

            }
        }
    }


    //***** buyer-signup.html *****//
    #buyer-signup{
        .login-section{
            background: #F4F4F5;
            .logo{
                display: none;
            }
        }
    }


    //***** buyer-shipping.html *****//
    #buyer-login{
        background: #F8F8F8;
        display: block;
        .back-link{
            a{
                img{
                    width: 20px;
                    height: 20px;
                    margin-right: 0px;
                    margin-left: 0px;
                }
            }
        }
        #buyer-shipping{
            height: auto;
            overflow: unset;
            .login-section{
                .input-field{
                    margin-top: 0;
                    input::placeholder{
                        font-family: Source Sans Pro;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        color: #27272A;
                    }
                }
                .login-header{
                    font-family: Noto Serif;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 150%;
                    color: #27272A;
                    margin: 4px 0px 32px 0px;
                    p{
                        font-family: Source Sans Pro;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 20px;
                        color: #52525B;
                        margin: 4px 22px;
                        
                    }
                }
                .container{
                    height: auto;
                    overflow: unset;
                    margin-top: 20px;
                    margin-bottom:32px;
                    #accordion{
                        .panel-title{
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            a{
                                height: 40px;
                                width: 100%;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                background: #fff;
                                padding-left:8px;
                                padding-right:8px;
                            }
                        }
                        .panel-body{
                            ul{
                                display: flex;
                                flex-direction: column;
                                justify-content: flex-start;
                                align-items: flex-start;
                                padding-left: 32px;
                                padding-top: 8px;
                                padding-bottom: 16px;
                                background: #fff;
                                li{
                                    padding-top: 8px;
                                    padding-bottom: 8px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }


    //***** buyer-payment.html *****//
    #buyer-payment{
        min-height: unset;
        .login-right{
            min-height: unset;
        }
        .form-input-field{
            width: 100%;
        }
        .input-field{
            input::placeholder{
                font-family: Source Sans Pro;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 150%;
                display: flex;
                align-items: center;
                letter-spacing: 0.28em;
                color: #27272A;
            }
        }
        .card-details{
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: flex-start;
            margin-right: 16px;
            .card-content{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
            }
        }
    }
    

    //***** buyer-place-order.html *****//
    #buyer-shipping{
        .order-summary{
            li{
                img{
                    margin-left: 6px;
                    margin-right: 10px;
                }
            }
        }
        #buyer-payment{
            .login-right{
                .login-section{
                    
                    .form-input-field{
                        padding:0;
                        margin-bottom:39px;
                    }
                    .phone-no-wrapper{
                        #phone_number::placeholder{
                            letter-spacing: 0px;
                        }
                    }
                }
            }
            .input-field{
                p{
                    font-family: Source Sans Pro;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 150%;
                    color: #000000;

                }
            }
            #upload-section{
                height: 80px;
                background: #F4F4F5;
                input{
                    width: 100%;
                    height: 80px;
                    background-color: #F4F4F5 !important;
                    border-radius: 2px;
                    border-bottom: 0px;
                    padding-left:0px !important; 
                    margin-top:0;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    font-family: Source Sans Pro;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 150%;
                    color: #F8F8F8;
                    img{
                        margin-right: 16px;
                    }
                }
            }
        }
    }


    //***** buyer-support.html *****//
    .support-heading{
        .back-link{
            display: unset !important;
            a{
                background-color: #fff;
                font-family: Noto Serif;
                font-style: normal;
                font-weight: bold !important;
                font-size: 18px !important;
                line-height: 150%;
                color: #18181B;
                box-shadow: 0px -1px 0px 0px #0000001A inset;
                padding: 16px 24px !important;

            }
        }
    }
    #buyer-shipping{
        #buyer-support{
            display: unset;
            .input-field{
                height: 150px;
                textarea{
                    width: 100%;
                    height: 136px;
                    padding:8px;
                    border: none;
                    border-bottom: 1px solid #A1A1AA;
                    resize: none;
                }
            }
            .support-btn{
                width:100%;
                padding:16px;
                position: fixed;
                bottom:0;
                .purple-btn{
                    height: 48px;
                    background: #7A0D41;
                    box-shadow: 0px 4px 8px rgba(138, 14, 73, 0.16);
                    border-radius: 4px;
                    font-family: Source Sans Pro;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 150%;
                    text-align: center;
                    color: #FFFFFF;
                }
            }
        }
    }


    //***** buyer-orders.html *****//
    #buyer-orders{
        .right_col{
            background: #F8f8f8;
            .page-title{
                box-shadow: 0px -1px 0px 0px #0000001A inset;
                padding: 12px 16px
            }
            .dashboard-inner{
                background: #f8f8f8;
                .product-section{
                    justify-content: unset;
                    padding: 0 8px;
                    .product-box{
                        max-width: 100%;
                        .box-container{
                            width: 100%;
                            padding: 16px;
                            margin-bottom: 16px;
                            background-color: #fff;
                            height:117px;
                            border-radius: 4px;
                            // box-shadow: 0px 1px 8px 0px #0000001A;
                            .order-id{
                                width: 100%;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                margin-bottom: 8px;
                                li:nth-child(1){
                                    font-family: Source Sans Pro;
                                    font-style: normal;
                                    font-weight: normal;
                                    font-size: 14px;
                                    line-height: 150%; 
                                    display: flex;
                                    align-items: center;
                                    color: #27272A;
                                }
                                li:nth-child(2){
                                    width: 24px;
                                    height: 24px;
                                    opacity: 0.5;
                                }
                            }
                            h3{
                                
                                font-family: Source Sans Pro;
                                font-style: normal;
                                font-weight: normal;
                                font-size: 18px;
                                line-height: 150%;
                                color: #27272A;
                            }
                            .order-date{
                                width: 100%;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                margin-bottom: 16px;
                                font-family: Source Sans Pro;
                                font-style: normal;
                                font-weight: normal;
                                font-size: 14px;
                                line-height: 150%;
                                color: #27272A;
                                li:nth-child(2){
                                    .dispatch-btn{
                                        width: 84px;
                                        height: 29px;
                                        border-radius: 2px;
                                        padding: 4px 8px;
                                        margin:0px;
                                        background: #3B82F6;
                                        font-family: Source Sans Pro;
                                        font-style: normal;
                                        font-weight: 600;
                                        font-size: 14px;
                                        line-height: 150%;
                                        display: flex;
                                        align-items: center;
                                        text-align: right;
                                        color: #FFFFFF;
                                        border: none;
                                    }
                                    .delivered-btn{
                                        width: 84px;
                                        height: 29px;
                                        border-radius: 2px;
                                        padding: 4px 8px;
                                        margin:0px;
                                        background: #16A34A;
                                        font-family: Source Sans Pro;
                                        font-style: normal;
                                        font-weight: 600;
                                        font-size: 14px;
                                        line-height: 150%;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        color: #FFFFFF;
                                        border: none;
                                    }
                                    .shipped-btn{
                                        width: 115px;
                                        height: 29px;
                                        border-radius: 2px;
                                        padding: 4px 8px;
                                        margin:0px;
                                        background: #FFC300;
                                        font-family: Source Sans Pro;
                                        font-style: normal;
                                        font-weight: 600;
                                        font-size: 14px;
                                        line-height: 150%;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        color: #FFFFFF;
                                        border: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }


    //***** buyer-order-detail.html *****//
    #buyer-orders{
        .page-title{
            a{
                img{
                    margin-right: 8px;
                }
            }
        }
        .order-detail{
            .product-box{
                .product-box-inner{
                    width:100%;
                    display: unset;
                    border-bottom: 0px;
                    padding-bottom: 0px;
                    .product-box-content{
                        height:139px;
                        display: flex;
                        flex-direction: column;
                        .product-details{
                            display: flex;
                            border-bottom: 1px solid rgba(0,0,0,0.1) !important;
                            padding-bottom: 16px;
                            img{
                                width: 40%;
                                height: 98px;
                                border-radius: 4px 0px 0px 0px;
                                object-fit: cover;
                            }
                            .box-content{
                                padding-bottom: 0;
                                height: 98px;
                            }
                        }
                        .p-rating{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            height: 50px;
                            padding-left: 16px;
                            
                            .rating {
                                display: flex;
                                position: relative;
                                font-size: 50px;
                                span{
                                    font-size: 24px !important;
                                    margin-right: 10px;
                                }
                            }
                            .rating label {
                            position: absolute;
                            top: 0;
                            left: 0;
                            height: 100%;
                            cursor: pointer;
                            }
                            .rating label:last-child {
                            position: static;
                            }
                            .rating label:nth-child(1) {
                            z-index: 5;
                            }
                            .rating label:nth-child(2) {
                            z-index: 4;
                            }
                            .rating label:nth-child(3) {
                            z-index: 3;
                            }
                            
                            .rating label:nth-child(4) {
                            z-index: 2;
                            }
                            .rating label:nth-child(5) {
                            z-index: 1;
                            }
                            .rating label input {
                            position: absolute;
                            top: 0;
                            left: 0;
                            opacity: 0;
                            }
                            .rating label .icon {
                            float: left;
                            color: transparent;
                            }
                            
                            .rating label:last-child .icon {
                            color:#D4D4D8;
                            ;
                            }
                            
                            .rating:not(:hover) label input:checked ~ .icon,
                            .rating:hover label:hover input ~ .icon {
                            color:#FFC300;
                            ;
                            }
                            
                            .rating label input:focus:not(:checked) ~ .icon:last-child {
                            color:#D4D4D8;
                            text-shadow: 0 0 5px #FFC300;
                            }
                        }

                        .review{
                            font-family: Source Sans Pro;
                            font-style: normal;
                            font-weight: 600;
                            font-size: 14px;
                            line-height: 150%;
                            color: #3B82F6;
                            padding-right: 16px;
                            
                        }
                    }
                }
            }
        }
    }
    

    //***** buyer-review-product.html *****//
    .order-detail{
        .product-section{
            padding: 0 !important;
            .product-box{
                padding:20px !important;
                .review-product{
                    padding-bottom: 16px !important;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
                  
                    .product-box-content{
                        display: unset !important;
                        .product-details{
                            border-bottom: 0 !important;
                            img{
                                height: 100%;
                                border-radius: 4px !important;
                                object-fit: cover;
                            }
                            .box-content{
                                h2{
                                    margin-bottom:0px;
                                }
                                p{
                                    font-family: Source Sans Pro;
                                    font-style: normal;
                                    font-weight: normal;
                                    font-size: 14px;
                                    line-height: 150%;
                                    color: #4B5563;
                                }
                                .p-rating{
                                    padding-left: 0px !important;
                                }
                            }
                        }
                    }
                }
                .input-field{
                    width: 100%;
                    margin-top:16px;
                    margin-bottom:16px;
                    // &::after{
                    //     content:"";
                    //     display: block;
                    //     width: 300px;
                    //     margin:auto;
                    //     height:2px;
                    //     background-color: #a1a1aa;
                    // }
                    textarea{
                        width: 100%;
                        height: 159px;
                        border: 1px solid #DADADA;
                        border-radius: 4px;
                        padding:8px 12px 0px 12px;
                        font-family: Source Sans Pro;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 150%;
                        color: #27272A;
                        // border-bottom: 2px solid #A1A1AA;
                        resize: none;                        
                    }
                    textarea::placeholder{
                        font-family: Source Sans Pro;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 150%;                        
                        color: #27272A;
                    }
                }

            }
            .support-btn{
                position: fixed;
                bottom: 0;
                width: 100%;
                padding: 16px;
            }
            
        }
    }


    //***** buyer-manage-address.html *****//
    #buyer-orders{
        .manage-address{
            .page-heading{
                padding: 15px 20px 11px;
                background: #fff;
                img{
                    margin-right: 16px;
                    vertical-align: text-bottom;
                }
                a{
                    font-family: Source Sans Pro;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 150%;
                    text-transform: uppercase;
                    color: #7A0D41;
                    margin: 0px 2px;
                }
            }
            .product-section{
                .product-box{
                    height: auto;
                    .box-container{
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        height:auto !important;
                        padding-top:8px;
                        h3{
                            font-family: Source Sans Pro;
                            font-style: normal;
                            font-weight: 600;
                            font-size: 16px;
                            line-height: 150%;
                            text-align: right;
                            color: #27272A;
                            margin: 4px 0px;
                        }
                        p{
                            font-family: Source Sans Pro;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 14px;
                            line-height: 150%;
                            display: flex;
                            align-items: center;
                            color: #27272A;
                            margin: 4px 0px;
                        }
                        ul{
                            margin: 4px 0px;
                            display: flex;
                            width: 100%;
                            .edit{
                                padding:0px 16px 0px 4px;
                                margin-right: 16px;
                                border-right: 1px solid #A1A1AA;
                                a{
                                    font-family: inherit;
                                    font-style: normal;
                                    font-weight: 500;
                                    font-size: 14px;
                                    line-height: 159.96%;
                                    color: #16A34A;
                                }
                            }
                            .delete{
                                padding:0px 16px 0px 4px;
                                a{
                                    font-family: inherit;
                                    font-style: normal;
                                    font-weight: 500;
                                    font-size: 14px;
                                    line-height: 159.96%;
                                    color: #EF4444;
                                }
                            }
                        }
                    }
                }
            }
        }
    }


    //***** buyer-change-password.html *****//
    #change-password{
        .login-section{
            background: #F4F4F5;
            .logo{
                display: none;
            }
            p{
                font-family: Source Sans Pro;
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 150%;
                color: #27272A;
            }
            .input-field{
                margin-bottom: 64px;
                input{
                    background-color: #fff !important;
                    border-bottom: 1px solid #A1A1AA;
                }
                button{
                    position: fixed !important;
                    left:0;
                    bottom:0;
                    margin-left:12px;
                    max-width:95%;
                }
            }
        }
    }

    //account-settings.html
    #account-settings{
        .back-link{
            a{
                font-family: Noto Serif;
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 150%;
                color: #18181B;
            }
        }
        .account-connections{
            padding:16px;
            .account-list{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .account-list-item{
                    width:100%;
                    height: 48px;
                    background-color: #fff;
                    padding:12px 16px;
                    border-radius:2px;
                    margin-top: 8px;
                    margin-bottom: 8px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    a{
                        font-family: Source Sans Pro;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 24px;
                        color: #3F3F46;
                    }
                    
                }
            }
        }
    }


    // //social-media-connections.html
    // #account-icons{
    //     .account-list-item{
    //         height: 59px;
    //         border-radius: 4px;
    //         background: #FFFFFF;
    //         box-shadow: 0px 10px 15px 0px #0000001A;
    //         >p{
    //             font-family: Source Sans Pro;
    //             font-size: 16px;
    //             font-style: normal;
    //             font-weight: 600;
    //             line-height: 24px;
    //             color: #7A0D41;
    //         }
    //         a{
    //             display: flex;
    //             align-items: center;
    //             img{
    //                 margin-right: 16px;
    //             }
    //         }
    //     }
    //     .active{
    //         color: #16A34A !important;
    //     }
    // }
    

    // //influencer-refer-earn.html
    // .social-share-item-wrapper{
    //     display:none;
    // }
    
    // .refer-content-box-wrapper{
    //     padding: 16px 32px;
    //     .refer-code-wrapper{
    //         .content{
    //             p{
    //                 font-family: Airbnb Cereal App;
    //                 font-style: normal;
    //                 font-weight: normal;
    //                 font-size: 14px;
    //                 line-height: 140%;
    //                 text-align: center;
    //                 letter-spacing: -0.09px;
    //                 color: #6B7280;
    //             }
    //         }
    //         .refer-code{
    //             width:205px;
    //             height: 72px;
    //             background: #7A0D41;
    //             position: relative;
    //             h5{
    //                 font-family: Source Sans Pro;
    //                 font-style: normal;
    //                 font-weight: normal;
    //                 font-size: 22px;
    //                 line-height: 150%;
    //                 text-align: center;
    //                 letter-spacing: 0.14em;
    //                 color: #FFFFFF;
    //             }
    //             .ecllipse{
    //                 background: #E5E5E5;
    //                 width:12px;
    //                 height:18px;
    //                 border-radius:50%;
    //             }
    //             #ecllipse-1{
    //                 position: absolute;
    //                 top:-5px;
    //                 left:-5px;
    //             }
    //             #ecllipse-2{
    //                 position: absolute;
    //                 top:-5px;
    //                 right:-5px;
    //             }
    //             #ecllipse-3{
    //                 position: absolute;
    //                 bottom:-5px;
    //                 left:-5px;
    //             }
    //             #ecllipse-4{
    //                 position: absolute;
    //                 bottom:-5px;
    //                 right:-5px;
    //             }
    //             img{
    //                 width: 177px;
    //             }
    //             #line-1{
    //                 position: absolute;
    //                 top:4px;
    //                 left:14px;
    //             }
    //             #line-2{
    //                 position: absolute;
    //                 bottom:4px;
    //                 left:14px;
    //             }
                
    //         }
    //         .refer-code-copy-btn{
    //             font-family: Source Sans Pro;
    //             font-style: normal;
    //             font-weight: 600;
    //             font-size: 16px;
    //             line-height: 150%;
    //             text-align: center;
    //             color: #A1A1AA;
    //         }
    //     }
    // }
    // .right_col{
    //     .button-sec{
    //         display: block;
    //         margin-bottom: 16px;
    //         position: fixed;
    //         width: 100%;
    //         bottom: 0;
    //         padding: 16px;
    //        button{
    //            height: 48px;
    //            a{
    //             font-family: Source Sans Pro;
    //             font-style: normal;
    //             font-weight: 600;
    //             font-size: 16px;
    //             line-height: 150%;
    //             text-align: center;
    //             color: #FFFFFF;
                
    //            }
    //        }
    //     }
    // }


    //influence-bank-setup.html
    // #bank-setup{
    //     .breadcrumb-wrapper{
    //         .breadcrumb{
    //             display: none;
    //         }
    //     }
    //     .dashboard-inner{
    //         .bank-setup-form{
    //             max-width: 100%;
    //             background: transparent;
    //             box-shadow: none;
    //             margin:0;
    //             .subscription-title{
    //                 font-family: Source Sans Pro;
    //                 font-style: normal;
    //                 font-weight: 600;
    //                 font-size: 16px;
    //                 line-height: 150%;
    //                 color: #27272A;
    //             }
    //             .account-setup{
    //                 .account-form{
    //                     .form-field{
    //                         background: transparent;
    //                         border:0px;
    //                         label{
    //                             font-family: Source Sans Pro;
    //                             font-style: normal;
    //                             font-weight: 600;
    //                             font-size: 14px;
    //                             line-height: 150%;
    //                             color: #27272A;
    //                         }
    //                         input{
    //                             background-color: #fff !important;
    //                         }
    //                     }
    //                 }
    //             }
    //         }
            
    //     }
       
    // }


    


    //influencer-mobile-verification.html
    // #mobile-verification{
    //     .login-section{
    //         padding:0;
    //         .logo{
    //             display: none;
    //         }
    //         p{
    //             display: none;
    //         }
    //         .input-field{
    //             padding:32px;
    //             label{
    //                 margin-bottom:32px;
    //             }
    //             input{
    //                 width: 100%;
    //                 height: 46px !important;
    //                 padding: 16px;
    //                 background-color: #fff;
    //                 border: 1px solid #A1A1AA;
    //                 box-sizing: border-box;
    //                 border-radius: 4px;
    //             }
    //         }
    //         .bottom-button{
    //             position: fixed;
    //             width:100%;
    //             bottom:0;
    //             button{
    //                 width: 80%;
    //             }
    //         }
    //     }
    // }

    //influencer-otp-sent.html
    // #mobile-verification{
    //     .login-section{
    //         .input-field{
    //             height: auto;
    //             label{
    //                 font-family: Source Sans Pro;
    //                 font-style: normal;
    //                 font-weight: 600;
    //                 font-size: 14px;
    //                 line-height: 150%;
    //                 color: #27272A;
    //             }
    //             .otp-input{
    //                 width: 100%;
    //                 display: flex;
    //                 align-items: center;
    //                 justify-content: space-evenly;
    //                 input{
    //                     width: 40px;
    //                     height: 40px;
    //                 }
    //             }
    //             .no-account{
    //                 width: 100%;
    //             }
    //         }
            
    //     }
    // }


    // //influencer-payment-history.html
    // #payment-history{
    //     .page-title{
    //         .breadcrumb{
    //             display:none;
    //         }
    //     }
    //     .earning-paymen-wrapper{
    //         background: #E5E5E5;
    //         .earning-edit-btn-wrapper{
    //             display: none;
    //         }
    //         h4{
    //             font-family: Source Sans Pro;
    //             font-size: 14px;
    //             font-style: normal;
    //             font-weight: 600;
    //             line-height: 21px;
    //         }
    //         .earning-item-wrapper{
    //             height: 76px;
    //         }
    //     }
    // }


    // //influencer-post.html
    // #post{
    //     .product-section{
    //         margin-top: 0;
    //         box-shadow: none;
    //         margin-bottom: 100px;
    //         .toggle-link{
    //             .nav{
    //                 .nav-item{
    //                     a{  
    //                         margin: 16px 16px 16px 8px;
    //                         padding:0px;
    //                         font-family: Source Sans Pro;
    //                         font-style: normal;
    //                         font-weight: 600;
    //                         font-size: 16px;
    //                         line-height: 150%;
    //                         color: #27272A;
    //                         opacity: 0.5;
    //                     }
    //                 }
    //             }
    //             .toggle-link-active{
    //                 border-bottom: 4px solid #FFC300;
    //                 border-radius: 1px;
    //                 opacity: 1 !important;
    //             }
    //         }
    //         .product-box{
    //             display: none;
    //         }

            
    //     }
    //     .post-active{
    //         display: block !important;
    //     }

    //     .common-button{
    //         padding:16px;
    //         width: 100%;
    //         justify-content: space-between;
    //         align-items: center;
    //         position: fixed;
    //         bottom: 0;
    //         background: #fff;
    //         .purple-btn{
    //             max-width: 45%;
    //             height: 48px;
    //             margin-left: 0;
    //         }
    //         .white-bttn{
    //             max-width: 45%;
    //             height: 48px;
    //             border-radius: 4px;
    //         }
    //     }
    // }


    // //influencer-post-stories.html
    // #post-story{
    //     .right_col{
    //         margin-top:64px;
    //         .page-title{
    //             box-shadow: none;
    //             a{
    //                 box-shadow: none;
    //             }
    //         }
    //         .personalise-product{
    //             .create-eshop-wrapper{
    //                 width: 100%;
    //                 padding:16px;
    //                 margin-top:0px;
    //                 .eshop-details-wrapper{
    //                     width: 100%;
    //                     margin-bottom: 100px;
    //                     .product-section{
    //                         max-width: 100%;
    //                         display: grid !important;
    //                         .product-box{
    //                             max-width: 100%;
    //                             background-color: transparent;
    //                             box-shadow: none;
    //                             padding: 0 !important;
    //                             .product-box-inner{
    //                                 padding-right:0;
    //                                 .product-box-content{
    //                                     position: relative;
    //                                     display: flex;
    //                                     background-color: #fff;
    //                                     border-radius: 8px;
    //                                     box-shadow: 0px 4px 6px rgb(0 0 0 / 10%);
    //                                     img{
    //                                         width: 50%;
    //                                         height: auto;
    //                                     }
    //                                     .box-content{
    //                                         padding: 16px 8px;
    //                                     }
    //                                     .product-rating{
    //                                         width: 44px;
    //                                         height: 18px;
    //                                         background-color: #fff;
    //                                         display: flex;
    //                                         align-items: center;
    //                                         justify-content: space-evenly;
    //                                         position: absolute;
    //                                         right:50%;
    //                                         top:70%;
    //                                         border-radius: 2.14892px 0px 0px 2.14892px;
    //                                         .rating-title{
    //                                             font-style: normal;
    //                                             font-weight: 600;
    //                                             font-size: 12.8935px;
    //                                             line-height: 140%;
    //                                             display: flex;
    //                                             align-items: center;
    //                                             letter-spacing: -0.053792px;
    //                                             color: #111827;
    //                                         }
    //                                         .rating-star{
    //                                             img{
    //                                                 width: 10px;
    //                                                 height: 10px;
    //                                             }
    //                                         }
    //                                     }
    //                                 }
    //                             }
    //                         }
    //                     }

    //                     .product-images{
    //                         margin-top: 32px;
    //                         margin-bottom: 32px;
    //                     }

    //                     .form-field-full{
    //                         height: auto;
    //                     }

    //                     .select-color{
    //                         width: 100%;
    //                         display: grid !important;
    //                         .color-list{
    //                             width: auto;
    //                         }
    //                     }

    //                     .common-button{
    //                         justify-content: flex-start;
    //                         .white-bttn{
    //                             width: 105px;
    //                             height: 40px;
    //                             border-radius: 4px;
    //                             font-family: Source Sans Pro;
    //                             font-style: normal;
    //                             font-weight: 600;
    //                             font-size: 16px;
    //                             line-height: 150%;
    //                             color: #7A0D41;
    //                         }
    //                     }

    //                     .form-field{
    //                         .multi-select-options{
    //                             button{
    //                                 display: flex;
    //                                 justify-content: space-between;
    //                             }
    //                         }
    //                     }
    //                 }
    //             }

    //             #post-button{
    //                 padding:16px;
    //                 width: 100%;
    //                 display: flex;
    //                 justify-content: space-between;
    //                 align-items: center;
    //                 position: fixed;
    //                 bottom: 0;
    //                 background: #fff;
    //                 .purple-btn{
    //                     max-width: 45%;
    //                     height: 48px;
    //                     margin-left: 0;
    //                     margin-top: 0;
    //                 }
    //                 .white-bttn{
    //                     max-width: 45%;
    //                     height: 48px;
    //                     border-radius: 4px;
    //                     font-family: Source Sans Pro;
    //                     font-style: normal;
    //                     font-weight: 600;
    //                     font-size: 16px;
    //                     line-height: 150%;
    //                     text-align: center;
    //                     color: #7A0D41;
    //                     padding: 9px 48px;
    //                 }
    //             }
    //         }
    //     } 
    // }

    

    // //influencer-preview-story
    // #preview-story{
    //     .dashboard_container{
    //         padding-top: 64px;
    //         .page-title{
    //             box-shadow: none;
    //             a{
    //                 box-shadow: none;
    //             }
    //         }
    //         .personalise-product{
    //             display: flex;
    //             flex-direction: column;
    //             align-items: center;
    //             margin-bottom: 100px;
    //             .preview-content{
    //                 width: 351px;
    //                 height: 666px;
    //                 position: relative;
    //                 .preview-text{
    //                     font-family: Source Sans Pro;
    //                     font-style: normal;
    //                     font-weight: 600;
    //                     font-size: 24px;
    //                     line-height: 130%;
    //                     display: flex;
    //                     align-items: center;
    //                     color: #FB923C;
    //                     position: absolute;
    //                     left:0;
    //                     bottom:48px;
    //                     z-index:10;
    //                     padding:16px;
    //                 }
    //             }
    //             #preview-button{
    //                 padding:16px;
    //                 width: 100%;
    //                 position: fixed;
    //                 bottom: 0;
    //                 z-index: 50;
    //                 background: #fff;
    //                 text-align: center;
    //                 .white-bttn{
    //                     width: 90%;
    //                     padding: 9px 0px;
    //                     font-family: Source Sans Pro;
    //                     font-style: normal;
    //                     font-weight: 600;
    //                     font-size: 16px;
    //                     line-height: 150%;
    //                     text-align: center;
    //                     color: #7A0D41;
    //                     border-radius: 4px;
    //                 }
    //             }
    //         }
    //     }
    // }




    // //influencer-schedule-stories.html
    // #schedule-story{
    //     .form-input-field{
    //         padding-left:0;
    //         .radio-input{
    //             flex-direction: column;
    //             align-items: flex-start;
    //             div{
    //                 padding-top: 16px;
    //                 padding-bottom: 16px;
    //             }
    //         }
    //     }
    //     .form-field{
    //         .multi-select-options{
    //             button{
    //                 background-color: #fff;
    //                 display: flex;
    //                 justify-content: space-between;
    //                 font-family: Source Sans Pro;
    //                 font-style: normal;
    //                 font-weight: normal;
    //                 font-size: 16px;
    //                 line-height: 150%;
    //                 display: flex;
    //                 align-items: center;
    //                 color: #27272A;
    //             }
    //         }
    //     }
    // }


    // //influencer-edit-profile.html
    // #account-settings{
    //     .profile-wrapper{
    //         text-align: center;
    //         margin-top: 20px;
    //         margin-bottom: 20px;
    //         #logo-feature-img{
    //             display: none;
    //         }
    //     }
    // }


    // //influencer-interest.html
    // #profile-interest{
    //     .account-cont{
    //         padding:0;
    //         .form-check{
    //             padding: 12px 24px 12px 16px;
    //             height: 46px;
    //             background-color: #fff;
    //             margin-top:8px;
    //             margin-bottom:8px;
    //             display: flex;
    //             align-items: center;
    //             label{
    //                 font-family: inherit;
    //                 font-style: normal;
    //                 font-weight: normal;
    //                 font-size: 16px;
    //                 line-height: 140%;
    //                 display: flex;
    //                 align-items: center;
    //                 color: #3F3F46;

    //             }
    //             input{
    //                 position: absolute;
    //                 right:16px;
    //                 width:20px;
    //                 height:20px;
    //                 border-radius: 4px;
    //                 border: 1px solid #999999;
    //             }
                
    //         }
    //         .common-button{
    //             width: 100%;
    //             margin-top: 16px;
    //             margin-bottom: 16px;
    //             padding: 0px 16px;
    //             justify-content: center;
    //             position: fixed;
    //             bottom: 0;
    //             .white-bttn{
    //                 max-width: 30%;
    //                 height: 48px;
    //                 border-radius: 4px;
    //                 font-family: Source Sans Pro;
    //                 font-style: normal;
    //                 font-weight: 600;
    //                 font-size: 16px;
    //                 line-height: 150%;
    //                 color: rgba(0, 0, 0, 0.87);
    //             }
    //             .purple-btn{
    //                 max-width: 70%;
    //                 height: 48px;
    //                 border-radius: 4px;
    //                 font-family: Source Sans Pro;
    //                 font-style: normal;
    //                 font-weight: 600;
    //                 font-size: 16px;
    //                 line-height: 150%;
    //                 color: #FFFFFF;
    //             }
    //         }
    //     }
    // }


    // //influencer-profile-notification.html
    // #notification{
    //     .back-link{
    //         margin-bottom: 16px;
    //         box-shadow: 0px -1px 0px 0px #0000001A inset;
    //     }
    //     .noti-section{
    //         width: 100%;
    //         height: 75px;
    //         padding: 10px 16px;
    //         background: #FFFFFF;
    //         display: flex;
    //         flex-direction: column;
    //         box-shadow: 0px -1px 0px 0px #00000026 inset;
    //         h1{
    //             font-family: Source Sans Pro;
    //             font-style: normal;
    //             font-weight: normal;
    //             font-size: 16px;
    //             line-height: 150%;
    //             display: flex;
    //             align-items: center;
    //             color: #27272A;
    //         }
    //         p{
    //             font-family: Source Sans Pro;
    //             font-style: normal;
    //             font-weight: normal;
    //             font-size: 14px;
    //             line-height: 150%;
    //             display: flex;
    //             align-items: center;
    //             color: #27272A;
    //             opacity: 0.5;
    //             padding-top: 8px;
    //         }
    //     }
    // }

}
