body {
  font-family: $primary-regular;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-webkit-backface-visibility: hidden;
  padding-top: 0;
	margin: 0;
	overflow-x: hidden;
	width: 100%;
  background: #F8F8F8;
}
.p-0{
  padding: 0px !important;
}
header,footer,section {
  display: block;
}
ul {
  list-style: none;
  margin-bottom: 0px;
  padding-left: 0px;
  li {
    display: inline-block;
    a {
      text-decoration: none;
    }
  }
}

a {
  color: rgba($color-text,0.6);
  &:hover, &:active, &:focus {
    color: $brand-primary;
    text-decoration: none;
  }
}

input, button , textarea {
  &:focus, &:active {
    outline: 0px !important;
    box-shadow: none !important;
  }
}

.title-wrapper{
  h4{
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 150%;
    
  }
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
   background: #f8f9fa;
   opacity: 1;
}
.empty-field-error{
  margin-top: 8px;
}
.alert-danger.login-error{
  color: #a94442 !important;

}
.login-error{
  width: 100%;
}
.c-btn{
  padding: 8px 16px;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #000;
  margin: 0px;
  border: none;
  transition: 0.3s;
}
.blk-btn{
  background: #fff;
  
}
.sub-ops-wrapper{
  .btn-wrapper{
    .blk-btn{
      &:hover{
        background: #FFC300;
      }
    }
    .blk-btn.active{
      background: #FFC300;
      filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
    }
  }
}


.backdrop{
  width:100vw;
  height: 100vh;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  left:0;
  top:0;
  display: none;
}


.button-group{
  width: 100%;
  label{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    color: #27272A;
  }
  button{
    position: relative;
    width: 100%;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: #27272A;
    background: #F8F8F8;
    border-radius: 0px;
    margin-bottom: 0px;
    span{
      position: absolute;
      top: 2px;
      right:10px;
      img{
        width:12px;
        height: 6px;
      }
    }
  }
  button::after{
    display: none;
  }
  .dropdown-menu{
    box-shadow: none;
    position: relative !important;
    transform: none !important;
    border-top: 0;
    background: #F8F8F8;
    width: auto;
    li{
      width: 100%;
      padding: 16px;
      a{
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 150%;
        display: flex;
        align-items: center;
        color: #27272A;
      
      }
    }
  }
  .dropdown-menu::after{
    display: none;
  }
}

.login-section{
  background: #F4F4F5;
}

@media screen and (max-width: $screen_768px){
  .button-group{
    width: 100%;
    label{
      font-family: Source Sans Pro;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 150%;
      color: #27272A;
    }
    button{
      position: relative;
      width: 100%;
      font-family: Source Sans Pro;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 150%;
      display: flex;
      align-items: center;
      color: #27272A;
      background: #FFFFFF;
      border-radius: 0px;
      margin-bottom: 0px;
      span{
        position: absolute;
        top: 2px;
        right:10px;
        img{
          width:12px;
          height: 6px;
        }
      }
    }
    button::after{
      display: none;
    }
    .dropdown-menu{
      box-shadow: none;
      position: relative !important;
      transform: none !important;
      border-top: 0;
      li{
        width: 100%;
        padding: 16px;
        a{
          font-family: Source Sans Pro;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 150%;
          display: flex;
          align-items: center;
          color: #27272A;
        
        }
      }
    }
    .dropdown-menu::after{
      display: none;
    }
  }
}

.multi-select-options{
  button{
    background: #F8F8F8;
    border-bottom: solid 1px #A1A1AA;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 1px #A1A1AA;
    width: 100%;
    padding: 9px;
    text-align: left;
    
  }
  .dropdown-menu{
    width: 100%;
    padding: 16px;
    li{
      padding: 8px 0;
      display: flex;
      label{
        text-align: left;
       
       
        display: block;
       
      }
      input{
        position: relative;
      width: 20px;
      margin-left: 0;
      margin-right: 8px;
      }
    }
  }
}

#iframeView{
    width: 500px;
    height:100vh;
    margin:0 auto; 
    display:flex;
    box-shadow: 0px 0px 20px 0px #ccc;
}

.header-wrap{
    display: none;
}

.user-profile{
    display: none !important;
}

.dashboard_container{
    display: none;
}

