@media screen and (max-width: 525px) {
  .edit_profile .profile_panel {
    display: none; } }

.edit_profile .edit-profile_panel {
  position: relative; }
  .edit_profile .edit-profile_panel > h2 {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin: 0px 0px 24px; }
  .edit_profile .edit-profile_panel > p {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
    padding-bottom: 12px;
    border-bottom: 1px solid #f2f2f2;
    margin-bottom: 24px; }
  .edit_profile .edit-profile_panel .change_profile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    padding-bottom: 20px;
    border-bottom: solid 1px #d2d2d2;
    margin-bottom: 25px; }
    .edit_profile .edit-profile_panel .change_profile h4 {
      margin: 0 0 0 20px; }
    @media screen and (max-width: 525px) {
      .edit_profile .edit-profile_panel .change_profile {
        position: relative;
        top: 0;
        left: 0;
        right: auto;
        text-align: center; } }
    .edit_profile .edit-profile_panel .change_profile .profile {
      height: 64px;
      width: 64px;
      position: relative;
      border-radius: 50%; }
      @media screen and (max-width: 525px) {
        .edit_profile .edit-profile_panel .change_profile .profile {
          margin: 10px auto;
          height: 80px;
          width: 80px; } }
      .edit_profile .edit-profile_panel .change_profile .profile > img {
        height: 100%;
        width: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: center;
        object-position: center;
        border-radius: 50%;
        -webkit-box-shadow: 0px 4px 16px rgba(85, 85, 85, 0.25);
        box-shadow: 0px 4px 16px rgba(85, 85, 85, 0.25); }
      .edit_profile .edit-profile_panel .change_profile .profile input {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 1;
        cursor: pointer;
        opacity: 0; }
      .edit_profile .edit-profile_panel .change_profile .profile span {
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
        height: 100%;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        background: rgba(0, 0, 0, 0.4);
        border-radius: 50%;
        color: white;
        font-size: 10px;
        line-height: 11px;
        font-weight: 500;
        cursor: pointer;
        -webkit-transition-duration: .2s;
        -o-transition-duration: .2s;
        transition-duration: .2s;
        -webkit-transition-timing-function: ease-out;
        -o-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
        opacity: 0; }
      .edit_profile .edit-profile_panel .change_profile .profile:hover span {
        opacity: 1; }
      .edit_profile .edit-profile_panel .change_profile .profile .edit-profile .edit-img {
        width: 25px !important;
        height: 25px !important;
        position: absolute;
        bottom: 0;
        right: -9px;
        z-index: 2; }
        .edit_profile .edit-profile_panel .change_profile .profile .edit-profile .edit-img img {
          width: 25px !important;
          height: 25px !important; }
  .edit_profile .edit-profile_panel .wrapper_fields > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 26px; }
    @media screen and (max-width: 525px) {
      .edit_profile .edit-profile_panel .wrapper_fields > ul {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }
    .edit_profile .edit-profile_panel .wrapper_fields > ul .text_field {
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color: #333333;
      width: 170px; }
      @media screen and (max-width: 525px) {
        .edit_profile .edit-profile_panel .wrapper_fields > ul .text_field {
          width: 100%;
          margin-bottom: 8px; } }
    .edit_profile .edit-profile_panel .wrapper_fields > ul .data {
      width: calc(100% - 170px);
      position: relative; }
      @media screen and (max-width: 525px) {
        .edit_profile .edit-profile_panel .wrapper_fields > ul .data {
          width: 100%; } }
      .edit_profile .edit-profile_panel .wrapper_fields > ul .data input[type="text"],
      .edit_profile .edit-profile_panel .wrapper_fields > ul .data input[type="number"],
      .edit_profile .edit-profile_panel .wrapper_fields > ul .data input[type="email"] {
        background: #FFFFFF;
        border: 1px solid #D1D1D1;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border-radius: 4px;
        padding: 9px 16px;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #777777;
        width: 100%; }
      .edit_profile .edit-profile_panel .wrapper_fields > ul .data .error-msg {
        position: absolute;
        top: calc(100% + 2px);
        left: 0; }
  .edit_profile .edit-profile_panel a.bttn-simple {
    color: #000;
    margin: 0 15px 0 0px;
    font-size: 14px; }
