.left-main-sec {
  background-color: #f4f5f9; }

:focus {
  -webkit-box-shadow: 0 0 0 !important;
  box-shadow: 0 0 0 !important; }

.left-page-title {
  padding: 20px;
  border-bottom: 1px solid #d2d2d2;
  font-weight: bold;
  font-size: 14px; }

.left-page-title i {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin-right: 5px; }

.left-content-sec {
  padding: 20px 30px; }

.btn.btn-primary.custom-btn {
  background-color: #51b8e5;
  border-color: #51b8e5;
  font-size: 12px;
  min-width: 150px; }

.btn.btn-primary.custom-btn:hover {
  background-color: #3a91b7;
  border-color: #3a91b7; }

.edit-pproduct-sec {
  background-color: #fff;
  border: 1px solid #d2d2d2;
  margin-bottom: 20px; }

.mainimgbtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%; }

.checkboxedit {
  background-color: #f9fafc;
  width: 60px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #ceefce;
  margin-right: 15px;
  border-right: 1px solid #d2d2d2; }

.descsecp {
  padding: 15px 0;
  font-size: 14px; }

.edit-pproduct-sec .btn.btn-outline-primary.custom-outline {
  margin-right: 15px; }

.col.leftimgbox {
  max-width: 150px; }

.col.btnright {
  max-width: 300px;
  min-width: 300px; }

.v-count {
  background-color: #f4f5f9;
  padding: 0 10px;
  display: inline-block;
  margin-left: 5px;
  border-radius: 15px; }

.checkboxtab {
  background-color: #f9fafc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-width: 80px;
  min-height: 80px; }

li.rightnav {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

li.rightnav select, li.rightnav button {
  margin: 0 15px; }

.greenbtn {
  background-color: #02bfa9 !important;
  border-color: #02bfa9 !important; }

.greenbtn:hover {
  background-color: #0eb19e !important;
  border-color: #0eb19e !important; }

.tab-p-sec .nav-tabs .nav-link {
  padding: 30px 20px;
  background-color: #fff;
  border: 1px solid #d2d2d2;
  margin-left: -1px;
  border-radius: 0;
  border-top: 3px solid transparent;
  font-weight: bold;
  font-size: 14px; }

.tab-p-sec .nav-tabs .nav-link.active {
  color: #02bfa9;
  border-top: 3px solid #02bfa9; }

.nav-tabs {
  border-top: 1px solid #dee2e6;
  background-color: #fff;
  border-right: 1px solid #dee2e6; }

.tab-p-sec .tab-content {
  background-color: #fff;
  border: 1px solid #e1e8f0;
  border-top: 0;
  padding: 30px; }

.tab-p-sec .tab-content a {
  color: #2196f3; }

.pdescimg img {
  border-radius: 6px;
  max-width: 100%;
  min-width: 100%; }

span.questionround {
  background-color: #f4f5f9;
  padding: 0;
  display: inline-block;
  height: 20px;
  width: 20px;
  text-align: center;
  border-radius: 50%; }

.tab-p-sec {
  margin-bottom: 20px; }

.imagescheck {
  overflow: hidden;
  max-height: 500px;
  overflow-y: auto; }

.imagescheck ul {
  list-style: none;
  padding: 0;
  margin: 0;
  -webkit-column-count: 4;
  column-count: 4;
  -webkit-column-gap: 1em;
  column-gap: 1em; }

.imagescheck ul li {
  display: inline-block;
  vertical-align: top;
  margin: 0 0 1em;
  width: 100%; }

.imagespcheck img {
  max-width: 100%;
  min-width: 100%;
  border: 2px solid #02bfa9;
  border-radius: 6px; }

.table-responsive {
  overflow: auto;
  max-height: 450px; }

.imagespcheck {
  position: relative; }

.imagespcheck input[type="checkbox"] {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 99;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer; }

.imagespcheck .checkbox-custom {
  position: absolute;
  right: 7px;
  top: 7px;
  background-color: white;
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #cecece;
  border-radius: 50%;
  cursor: pointer; }

.imagespcheck .checkbox-custom i.fas.fa-check {
  position: absolute;
  top: 4px;
  left: 4px;
  font-size: 10px;
  color: #cecece; }

.imagespcheck input[type="checkbox"]:checked + .checkbox-custom {
  border-color: #02bfa9;
  background-color: #02bfa9; }

.imagespcheck input[type="checkbox"]:checked + .checkbox-custom i.fas.fa-check {
  color: #fff; }

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 31px; }

.switch input {
  opacity: 0;
  width: 0;
  height: 0; }

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s; }

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s; }

input:checked + .slider {
  background-color: #2196F3; }

input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #2196F3;
  box-shadow: 0 0 1px #2196F3; }

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px); }

/* Rounded sliders */
.slider.round {
  border-radius: 34px; }

.slider.round:before {
  border-radius: 50%; }

.variend-table tr.firstrow {
  border-top: 1px solid #d2d2d2 !important;
  border-bottom: 1px solid #d2d2d2 !important;
  background-color: whitesmoke; }

.variend-table th {
  border-bottom: 0; }

.variend-table tr.firstrow button {
  background-color: transparent;
  border: 0;
  color: #51b8e5; }

.variend-table input[type="text"] {
  max-width: 130px;
  font-weight: bold; }

span.redtext {
  color: red; }

span.dollerprice {
  color: #afafaf; }

.variend-table th {
  font-size: 14px; }

.variend-table td {
  font-size: 12px;
  vertical-align: middle; }

@media only screen and (max-width: 992px) {
  .tab-p-sec .nav-tabs .nav-link {
    padding: 30px 10px; }
  li.rightnav select, li.rightnav button {
    margin: 0 2px;
    font-size: 12px; }
  li.rightnav .btn.btn-primary.custom-btn.greenbtn {
    min-width: 130px; } }

@media only screen and (max-width: 767px) {
  .top-add-sec .btn.btn-primary.custom-btn {
    margin-top: 12px; }
  .edit-pproduct-sec .btn.btn-outline-primary.custom-outline {
    margin: 20px auto; }
  .col.btnright {
    text-align: center;
    max-width: 100%; }
  .tab-p-sec .nav-tabs .nav-link {
    padding: 10px;
    min-width: 120px; }
  li.rightnav select {
    min-width: 120px; }
  .tab-p-sec .tab-content {
    padding: 15px; }
  .left-content-sec {
    padding: 10px; }
  .pdescimg {
    margin-bottom: 20px; }
  .checkboxtab {
    min-width: 30px;
    min-height: 45px; }
  .nav-tabs {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    overflow-x: auto; }
  .mainimgbtn {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 0px; }
  .col.leftimgbox {
    max-width: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%; }
  .col.descmidse {
    padding: 10px 30px; } }
