@mixin display-ib {
    display: inline-block;
    width: 100%;
}

header {
    background: #8A0E49;
    padding: 11px 20px;
    height: 64px;
    position: fixed;
    width: 100%;
    z-index: 11;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 768px){
        padding: 13px 16px;
        #menu_toggle{
            display: block;
        }
    }

    .top_nav{
        .navbar-nav{
            display: block;
        }
    }
    
    /* BEGIN Desktop Header*/
    .desktop_header {
        @media screen and(max-width: 767px) {
            display: none;
        }
        .top_header {
            display: flex;
            width: 100%;
            align-items: center;
            margin-bottom: 16px;
            .left_menu,
            .right_menu {
                >ul {
                    >li {
                        margin-right: 32px;
                        a {
                            font-size: 14px;
                            line-height: 16px;
                            color: rgba(255, 255, 255, 1);
                            &.active {
                                color: #FFFFFF;
                                font-weight: bold;
                            }

                            &.seller-bttn {
                            border: solid 1px #b1b6bb;
                            padding: 8px 10px;
                            border-radius: 7px;
                            background: #ffffff4a;
                            color: #fff !important;
                        }
                        }
                        &:last-child {
                            margin-right: 0;
                            .location-language_selector {
                                transition-duration: .2s;
                                transition-timing-function: ease-out;
                                opacity: 0;
                                visibility: hidden;
                            }
                            &:hover {
                                .location-language_selector {
                                    opacity: 1;
                                    visibility: visible;
                                }
                            }
                        }
                    }
                }
            }
            .left_menu {
                @media screen and(max-width: 525px) {
                    width: 100%;
                    padding: 10px 0px;
                    ul {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        li {
                            margin: 0;
                        }
                    }
                }
            }
            .right_menu {
                text-align: right;
                @media screen and(max-width: 525px) {
                    position: absolute;
                    top: 0px;
                    width: 100%;
                    text-align: right;
                    left: 0;
                    padding: 15px;
                    ul {
                        li {
                            margin: 0px 0px 0px 16px;
                        }
                    }
                }
            }
        }
        .bottom_header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .top_categories {
                position: relative;
                &:hover {
                    .all_category {
                        display: block;
                    }
                }
                @media screen and(max-width: 525px) {
                    padding: 0;
                }
                >a {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    position: relative;
                    padding: 8px 24px;
                    background: #77879A;
                    border-radius: 4px;
                    @media screen and(max-width: 768px) {
                        padding: 8px 16px 8px 8px;
                    }
                    span {
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 16px;
                        color: #FFFFFF;
                        margin-left: 8px;
                        @media screen and(max-width: 768px) {
                            font-size: 10px;
                        }
                    }
                    i {
                        position: absolute;
                        right: 10px;
                        top: calc(50% - 10px);
                    }
                }
                .all_category {
                    position: absolute;
                    top: 100%;
                    width: calc(100% - 30px);
                    left: 15px;
                    display: none;
                    &:hover {
                        display: block;
                    }
                    @media screen and(max-width: 525px) {
                        position: fixed;
                        top: 0;
                        height: 100vh;
                        width: 52%;
                        z-index: 11;
                        left: 0;
                    }
                }
            }
            .search_panel {
                @media screen and(max-width: 525px) {
                    padding: 0;
                }
                .wrapper_search {
                    display: flex;
                    align-items: center;
                    background: white;
                    border-radius: 4px;
                    @media screen and(max-width: 525px) {
                        display: none;
                    }
                    .SumoSelect {
                        @media screen and(max-width: 768px) {
                            display: none;
                        }
                    }       align-self: auto;
                    select {
                        width: 200px;
                        padding: 10px;
                        border: none;
                        background: #F5F5F5;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 16px;
                        color: #232F3E;
                            background: url(../images/icons/arrow-black.png);
                            -webkit-appearance: none;
                            -moz-appearance: none;
                            -ms-appearance: none;
                            appearance: none;
                            background-repeat: no-repeat;
                            background-position: right 17px center;
                            background-size: 7% auto;
                        
                    }
                    .search_box {
                        width: calc(100% - 311px);
                        position: relative;
                        @media screen and(max-width: 768px) {
                            width: 100%;
                        }
                        input {
                            border: none;
                            padding: 10px;
                            width: 100%;
                            &::placeholder {
                                font-size: 16px;
                                line-height: 19px;
                                color: rgba(35, 47, 62, .5);
                            }
                            @media screen and(max-width: 768px) {
                                width: 100%;
                            }
                        }
                        .search_panel {
                            position: absolute;
                            top: 100%;
                            border: 1px solid #F2F2F2;
                            box-sizing: border-box;
                            box-shadow: 0px 4px 10px rgba(57, 57, 57, 0.1);
                            border-radius: 4px;
                            background: white;
                            width: 100%;
                            .category {
                                li {
                                    display: block;
                                    a {
                                        padding: 12px 16px;
                                        display: flex;
                                        align-items: center;
                                        &:hover {
                                            background: #F2F2F2;
                                        }
                                        .image {
                                            display: inline-block;
                                            height: 28px;
                                            width: 28px;
                                            border: 0.5px solid #D1D1D1;
                                            margin-right: 16px;
                                            img {
                                                height: 100%;
                                                width: 100%;
                                                object-fit: cover;
                                                object-position: center;
                                            }
                                        }
                                        label {
                                            font-size: 14px;
                                            line-height: 16px;
                                            color: #777777;
                                            font-weight: 400;
                                            display: inline-block;
                                            width: calc(100% - 28px);
                                            text-overflow: ellipsis;
                                            white-space: nowrap;
                                            overflow: hidden;
                                            margin: 0;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    button {
                        padding: 8px 32px 9px;
                        margin-left: 8px;
                        border-radius: 0px 4px 4px 0px;
                    }
                    

        .custom-select {
            width: 40% !important;
            .select-selected {
                background-color: transparent;
                color: #000 !important;
                &:after {
                    border-color: #000 transparent transparent transparent;
                    top: 15px;
                }

            }
            .SumoSelect {
                display: none;
            }
        }
    
                }
                >a {
                    display: none;
                    @media screen and(max-width: 525px) {
                        display: block;
                    }
                }
            }
            .main_menu {
                @media screen and(max-width: 525px) {
                    padding: 0;
                }
                >ul {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    >li {
                        margin-right: 24px;
                        @media screen and(max-width: 768px) {
                            margin-right: 16px;
                        }
                        &:last-child {
                            margin: 0;
                            >a {
                                height: 48px;
                                width: 48px;
                                display: block;
                                border-radius: 50%;
                                overflow: hidden;
                                img {
                                    object-fit: cover;
                                    height: 100%;
                                    width: 100%;
                                    object-position: center;
                                }
                            }
                            .profile_tabs {
                                position: absolute;
                                right: 0;
                                opacity: 0;
                                position: absolute;
                                right: 0;
                                width: 300px;
                                visibility: hidden;
                                width: 300px;
                            }
                            &:hover {
                                .profile_tabs {
                                    opacity: 1;
                                    visibility: visible;
                                }
                            }
                        }
                        >a {
                            &.shape {
                                height: 40px;
                                width: 40px;
                                display: flex;
                                border-radius: 50%;
                                background: rgba(128, 184, 255, .1);
                                align-items: center;
                                justify-content: center;
                                position: relative;
                                .badge {
                                    position: absolute;
                                    top: -10px;
                                    right: -8px;
                                    width: 16px;
                                    height: 16px;
                                    font-weight: 500;
                                    font-size: 10px;
                                    line-height: 12px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    background: #F9D423;
                                    color: #000000;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    /* BEGIN Mobile Header*/
    .mobile_header {
        display: none;
        @media screen and(max-width: 767px) {
            display: block;
        }
        .top-m_header {
            text-align: right;
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            a {
                display: inline-block;
                padding: 0px 10px 10px 10px;
                color: white;
            }
            .location-language_selector {
                transition-duration: .2s;
                transition-timing-function: ease-out;
            }
        }
        .logo_m {
            text-align: center;
            padding: 20px 0px;
            a {
                display: block;
            }
        }
        .bottom-m_header {
            display: flex;
            align-items: center;
            padding: 0px 10px;
            .close-btn {
                padding: 10px;
                border-bottom: 1px solid rgba(255, 255, 255, .2);
                text-align: right;
            }
            .left_grid {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex: 0 0 60%;
                position: relative;
                >a {
                    color: white;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    img {
                        margin-right: 8px;
                    }
                }
                .m-all_category {
                    position: fixed;
                    top: 0;
                    left: 0;
                    width: 70%;
                    height: 100vh;
                    white-space: nowrap;
                    background: #131921;
                    overflow-y: auto;
                    width: 0%;
                    transition-duration: .2s;
                    transition-timing-function: ease-out;
                    &.active {
                        width: 70%;
                    }
                    >ul {
                        >li {
                            display: block;
                            >a {
                                display: flex;
                                width: 100%;
                                justify-content: space-between;
                                align-items: center;
                                color: white;
                                padding: 10px;
                            }
                            ul {
                                background: white;
                                li {
                                    display: block;
                                    a {
                                        display: block;
                                        padding: 5px 20px;
                                        color: black;
                                    }
                                }
                            }
                        }
                    }
                }
                .wrapper-mobile_search {
                    position: absolute;
                    top: 134%;
                    left: 56px;
                    width: 250px;
                }
                .search-m {
                    width: 100%;
                    background: white;
                    border: 1px solid rgb(242, 242, 242);
                    display: flex;
                    border-radius: 4px;
                    box-shadow: rgba(158, 158, 158, 0.15) 0px 0px 8px;
                    overflow: hidden;
                    input {
                        padding: 8px;
                        border: none;
                        width: calc(100% - 30px);
                        height: auto;
                    }
                }
            }
            .right_grid {
                flex: 0 0 40%;
                text-align: right;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                >a {
                    height: 40px;
                    width: 40px;
                    display: flex;
                    margin-right: 8px;
                    position: relative;
                    border-radius: 50%;
                    background: rgba(128, 184, 255, 0.1);
                    img {
                        padding-left: 5px;
                    }
                    span {
                        position: absolute;
                        top: -10px;
                        right: -8px;
                        width: 16px;
                        height: 16px;
                        font-weight: 500;
                        border-radius: 50%;
                        font-size: 10px;
                        line-height: 12px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: #F9D423;
                        color: #000000;
                    }
                }
                .profile_section {
                    position: fixed;
                    left: 0;
                    top: 0;
                    height: 100vh;
                    overflow-y: scroll;
                    background: #131921;
                    width: 0%;
                    text-align: left;
                    white-space: nowrap;
                    transition-duration: .2s;
                    transition-timing-function: ease-out;
                    &.active {
                        width: 70%;
                    }
                    >a {
                        display: flex;
                        align-items: center;
                        color: white;
                        padding: 10px;
                        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
                        .image {
                            height: 48px;
                            width: 48px;
                            display: inline-block;
                            border-radius: 50%;
                            margin-right: 8px;
                            overflow: hidden;
                            img {
                                height: 100%;
                                width: 100%;
                                object-fit: contain;
                                object-position: center;
                            }
                        }
                    }
                    .user_menus {
                        background: white;
                        ul {
                            li {
                                display: block;
                                a {
                                    display: block;
                                    color: black;
                                    padding: 10px 20px;
                                }
                            }
                        }
                    }
                    .services {
                        padding: 20px;
                        h2 {
                            color: white;
                            font-size: 20px;
                            margin: 0px 0px 20px;
                        }
                        ul {
                            li {
                                display: block;
                                a {
                                    display: block;
                                    color: white;
                                    padding: 10px 0px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .location-language_selector {
        text-align: left;
        position: absolute;
        right: 0;
        box-shadow: 0px 0px 8px rgba(158, 158, 158, 0.15);
        background: white;
        z-index: 1;
        padding: 16px;
        border-radius: 4px;
        width: 300px;
        .form-row {
            margin-bottom: 16px;
            label {
                display: block;
                font-size: 14px;
                line-height: 16px;
                color: #777777;
                margin-bottom: 8px;
            }
            .SumoSelect {
                border: 1px solid #333333;
                border-radius: 4px;
                width: 100%;
            }
            .CaptionCont {
                padding: 16px;
                font-size: 14px;
                line-height: 16px;
                color: #777777;
            }
        }
    }


    ul.nav.navbar-nav.navbar-right li a {
        color: #000 !important;
        margin: 0 0 0 0 !important;
        display: block;
    }
    .top_nav {
        .dropdown-menu  {
            margin-left: auto;
            margin-right: 0px;
            right: 18px;
            max-width: 220px;
            margin-top: 64px;
        }
    }
    


}

// Breadcrumb

.breadcrumb-wrapper{
padding: 14px 16px !important;
    .breadcrumb{
        margin: 0px;
        padding: 0px;
        background-color: transparent;
        li{
           +li {
                &::before{
                    content: " "  !important;
                    background-image: url(".../images/icons/chevron-right.svg")  !important;
                    background-repeat: no-repeat;
                    background-position: center;
                    padding: 1px 10px;
                    margin: 0 6px;
                }    
            }
            a{
                font-family: $secondary-font;
                font-style: normal;
                font-weight: 600;
                font-size: 13px;
                line-height: 150%;
                color: $secondary-fc;
            }
        }
        .active{
            color: #27272A;
        }
    }
}


// Mobile Header -- Max Screen Size 768px //

@media screen and (max-width: $screen_768px){
    .user-profile{
        display: none;
    }
    .header-wrap{
        .logo{
            .toggle{
                display: inline-block;
            }
        }
        .top_nav{
            width: 50% !important;
            .nav_menu{
                nav{
                    width: 100%;
                    margin-bottom: 0px;
                    .navbar-nav{
                        width: 100%;
                        li{
                            a{
                                display: flex; 
                                position: relative;
                                padding: 16px 16px 12px 16px;
                                #cart-count{
                                    position: absolute;
                                    top: 4px;
                                    right: 22px;
                                    height: 12px;
                                    width: auto;
                                    sup{
                                        color: #fff;
                                        top:unset;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

    }
   
}



@media screen and (max-width: $screen_600px){
    
    //Mobile View Responsive Header//
    .header-wrap{
        .logo{
            width: 68%;
            justify-content: space-between;
        }
        .top_nav{
            width: 20% !important;
            .nav_menu{
                nav{
                    li:nth-child(1){
                        display: none;
                    }
                    li:nth-child(2){
                        display: none;
                    }
                }
            }
        }
    }
    
}