.catalog-form {
    background: #fff;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .form-field {
    
        label {
        width: 100%;
    }

    input, select{
        width: 100%;
        padding: 9px;
    }
    .number {
        display: flex;
        align-items: center;

        input{
            width: 50px;
            margin: 0 10px;
            text-align: center;
        }

        span {
            font-size: 20px;
            font-weight: 700;
            margin: 0 5px;
        }
    }
}


.form-field-full {
    flex: 100%;
    max-width: 100%;
    margin: 0 0 15px 0;

    label {
    width: 100%;

    #addbtn{
        background: #333;
        color: #fff;
        font-size: 16px;
        font-weight: 600;
        padding: 8px 20px;
        margin: 0;
        border: none;
        border-radius: 4px;
    }
}

input, select{
    width: 100%;
    padding: 9px;
}
textarea{
    width: 100%;
    padding: 9px;
    resize: none;
}
.browse-box {
    max-width: 570px;
    width:100%;
    height: 290px;
    background: #f8f8f8 !important;
    text-align: center;
    border: dashed 2px #d2d2d2;
    display: flex;
    align-items: center;
    justify-content: center;
    background:#fff;
    border-radius: 8px;

    .browse-box-inner {
        display: flex;
        height: 90%;
        margin: 10px;
        border: dashed 2px #f0f;
        border-radius: 8px;
        background: #fff;
        width: 100%;
        label{
            cursor: pointer;
            display: grid;
            .featured-image-preview-wrapper{
                position: absolute;
                width: 542px;
                height: 254px;
                overflow: hidden;
                z-index: 0;
                img{
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    object-fit: cover;
                    border-radius: 4px;
                }
            }
        }
        input{
            background: #fff;
            display: none; 
        }

        .browse-content {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            img{
                width: 29px;
                height: 27px;
                margin: 0 0 10px 0;
            }
            p{
                color: #9CA3AF;
                font-size: 15px;
                margin: 0;
                z-index: 1;
            }
        }
    }
}
}

.browse-items {
    display: flex;
    align-items: center;
    max-width: 570px;
    width: 100%;
    margin: 15px 0 0 0;

    .browse-ss {
        width: 80px;
        margin: 0 11px;
        border-radius: 8px;
        margin-bottom: 0px;
        label{
            cursor: pointer;
            display: grid;
            height: 73px;
            width: 80px;
            background: #F9FAFB;
            border: 1px solid #D1D5DB;
            border-radius: 8px;

            .product-additional-image{
                overflow: hidden;
                position: absolute;
                
                width: 80px;
                height: 73px;

            }
        }
        input{
            display: none;
        }

        @media screen and (max-width: 767px){
            margin: 0 4px;
        }

        img{
            width: 100%;
            height: 73px;
            border-radius: 8px;
            overflow: hidden;
            object-fit: cover;
        
        }
    }

    span{
        width: 40px;
        height: 40px;
        text-align: center;
        background: #e1e1e1;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        font-weight: bold;
        margin: 0 5px 0 0;

        @media screen and (max-width: 767px){
            height: auto;
        }
    }
}
}

//@media screen and (max-width: 767px){
    #buyer-shop{
    .banner-section{
    margin-bottom: 24px;
    .banner-content{
    padding: 0px;
    #shop-name{
    padding: 0px !important;
    margin-top: 16px;
    margin-bottom: 16px;
    }
    .shop-description{
    padding: 0px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    
    color: #000000;
    
    opacity: 0.6;
    
    }
    }
    }
    }
    // }


