@import"../modules/variables";

#buyer-shop{
    .right_col{
        .product-banner{
            width: 100%;
            padding:0px;
            height: 345px;
            margin-bottom:0;
        }
        #banner-carousel{
            width: 100%;
            height: 100%;
            position: relative;
            .banner-details{
                width: 100%;
                z-index: 10;
                position: absolute;
                bottom:20px;
                padding: 0 150px 0 32px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                h3{
                    font-family: Noto Serif;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 36px;
                    color: #FFFFFF;
                }
                p{
                    font-family: Source Sans Pro;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 24px;
                    color: #FFFFFF;
                }
            }
            .carousel-indicators{
                width: 100px;
                z-index: 110;
                position: absolute;
                bottom:32px;
                left:75%;
                li{
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background: #E4E4E7;
                }
                .active{
                    background: #16A34A !important;
                }
            }
            .carousel-inner{
                height: 100%;
                .carousel-item{
                    height: 100%;
                    img{
                        width: 100% !important;
                        height: 100%;
                    }
                }
            }
        }

        .product-selection{
            width:100%;
            display: flex !important;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 16px;
            .product-form{
                .product-filter{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    //Search Bar
                    .input-group{
                        margin-bottom: 0px;
                        .input-group-prepend{
                            display: flex;
                            align-items: center;
                            .input-group-text{
                                background-color: #fff;
                                height:40px;
                                padding: 8px;
                                border: none;
                            }
                        }
                        input{
                            height: 40px;
                            width: 261px;
                            border-radius: 4px;
                            border: 1px solid #E4E4E7 !important;
                            border-left: 0px !important;
                            margin-right: 8px;
                            margin-left:0px;
                            
                            font-family: Source Sans Pro;
                            font-style: normal;
                            font-weight: 600;
                            font-size: 14px;
                            line-height: 150%;
                            text-align: left;
                            color: #27272A;
                            border-top-left-radius: 0px;
                            border-bottom-left-radius: 0px;
                        }
                    }
                    .filter-wrapper{
                        display: flex;
                        align-items: flex-start;
                        .filter-header-wrapper{
                            display: none;
                        }
                        .common-button{
                            display: none;
                        }
                    }
                    //Price Range Dropdown Button
                    #dropdownPrice{
                        height: 40px;
                        width: 165px;
                        margin:0 16px 0 0;
                        display: flex;
                        align-items: center;
                        justify-content: space-around;
                        font-family: Source Sans Pro;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 150%;
                        text-align: center;
                        color: #27272A;
                        background: #FFFFFF;
                        border: 1px solid #E4E4E7;
                    }
                    #dropdownPrice::after{
                        color: #3F3F46;
                    }
                    #price-dropdown{
                        .dropdown-menu{
                            width: 165px;
                            box-shadow: none;
                            .dropdown-item{
                                padding:16px;
                                display: flex;
                                justify-content: space-around;
                                label{
                                    font-family: inherit;
                                    font-style: normal;
                                    font-weight: normal;
                                    font-size: 16px;
                                    line-height: 140%;
                                    display: flex;
                                    align-items: center;
                                    color: #3F3F46;
                                }
                                input{
                                    font-family: Inter;
                                    font-size: 16px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: 22px;
                                    background: #FFFFFF;
                                    border: 1px solid #999999;
                                    box-sizing: border-box;
                                    border-radius: 4px;
                                    margin-right: 100px;
                                }
                            }
                        }
                    }

                    //Categories Dropdown Button
                    #dropdownCategories{
                        height: 40px;
                        width: 230px;
                        margin:0 16px 0 0;
                        display: flex;
                        align-items: center;
                        justify-content: space-around;
                        font-family: Source Sans Pro;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 150%;
                        text-align: center;
                        color: #27272A;
                        background: #FFFFFF;
                        border: 1px solid #E4E4E7;
                    }
                    #dropdownCategories::after{
                        color: #3F3F46;
                    }
                    #categories-dropdown{
                        .dropdown-menu{
                            width: 230px;
                            box-shadow: none;
                            .dropdown-item{
                                padding:16px;
                                display: flex;
                                justify-content: space-around;
                                label{
                                    font-family: inherit;
                                    font-style: normal;
                                    font-weight: normal;
                                    font-size: 16px;
                                    line-height: 140%;
                                    display: flex;
                                    align-items: center;
                                    color: #3F3F46;
                                }  
                                input{
                                    font-family: Inter;
                                    font-size: 16px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: 22px;
                                    background: #FFFFFF;
                                    border: 1px solid #999999;
                                    box-sizing: border-box;
                                    border-radius: 4px;
                                    margin-right: 150px;
                                } 
                            }
                        }
                    }
                }
            }
        }
        .product-section{
            max-width: 100%;
            display: grid !important;
            .product-box{
                max-width: 100%;
                background-color: transparent;
                box-shadow: none;
                .product-box-inner{
                    width: 298px !important;
                    background-color: transparent !important;
                    box-shadow: none !important;
                    border-bottom: none !important;
                    .product-box-content{
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        background-color: #fff;
                        border-radius: 8px;
                        box-shadow: 0px 4px 6px rgb(0 0 0 / 10%);
                        img{
                            width: 100% !important;
                            height: 117px;
                            object-fit: cover;
                        }
                        .box-content{
                            padding: 10px 8px 8px 8px !important;
                            margin:0;
                            p{
                                font-family: Source Sans Pro;
                                font-style: normal;
                                font-weight: normal;
                                font-size: 14px;
                                line-height: 150%;
                                color: #3F3F46;
                                margin-bottom: 11px;
                            }
                            .white-bttn{
                                width: 100%;
                                padding: 8px;
                                border-radius: 4px;
                            }
                        }
                        .product-rating{
                            width: 44px;
                            height: 18px;
                            background-color: #fff;
                            display: flex;
                            align-items: center;
                            justify-content: space-evenly;
                            position: absolute;
                            right:0px !important;
                            top:90px !important;
                            border-radius: 2.14892px 0px 0px 2.14892px;
                            .rating-title{
                                font-style: normal;
                                font-weight: 600;
                                font-size: 12.8935px;
                                display: flex;
                                align-items: center;
                                letter-spacing: -0.053792px;
                                color: #111827;
                            }
                            .rating-star{
                                img{
                                    width: 10px;
                                    height: 10px;
                                }
                            }
                        }
                    }
                    
                }
            }
        }
       
        .page-selection{
            padding-left: 16px;
            .pagination{
                display: flex !important;
                flex-direction: row;
                justify-content: flex-start;
                .page-item{
                    padding: 0px 4px;
                    .page-link{
                        background: transparent;
                        color:#27272A;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 21px;
                        border: none;
                        border-radius: 4px;
                        padding: 4px 10px;
                        margin: 4px 0px;
                    }
                    .right-arrow{
                        background: #E4E4E7 !important;
                    }
                    
                }
            }
            .page-link-active{
                background-color: #FBBF24 !important;
            }
        }
    }
    
}


//Mobile Filter Button//
.filter-button{
    display: none;
    width: 105px !important;
    height:40px;
    padding: 4px 12px;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border: 1px solid #D4D4D8;
    box-sizing: border-box;
    border-radius: 4px;
    
    span{
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 150%;
        display: flex;
        align-items: center;
        color: #71717A;
    }
    img{
        width:16px;
        height: 16px;
    }
    
}
    



@media screen and (max-width: $screen_768px){
    #buyer-shop{
        .right_col{
            .product-selection{
                flex-direction: column;
                padding: 20px;
                align-items: flex-start;
                background: #FFFFFF;
                .title{
                    padding-bottom:16px;
                    h4{
                        //styleName: text-base/Bold;
                        font-family: Source Sans Pro;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 24px;
                    }
                    p{
                        //styleName: text-sm/Regular;
                        font-family: Source Sans Pro;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 21px;
                    }
                }
                .product-form{
                    width: 100%;
                    .product-filter{
                        .input-group{
                            .input-group-prepend{
                                span{
                                    border: 1px solid #D4D4D8 !important;
                                }
                            }
                            input{
                                width:auto;
                                border: 1px solid #D4D4D8 !important;
                                border-left: 0 !important;
                            }
                        }
                        .filter-button{
                            display: flex;
                            margin-bottom: 0;
                            margin-right: 0;
                        }
                        .filter-wrapper{
                            display: none;
                            width: 100vw;
                            height: 100vh;
                            position: fixed;
                            top:64px;
                            left:0;
                            z-index: 200;
                            background-color: #fff;
                            flex-direction: column;
                            .filter-header-wrapper{
                                width: 100vw;
                                height: 48px;
                                background-color: #fff;
                                display: flex !important;
                                align-items: center;
                                justify-content: flex-start;
                                padding-left: 16px;
                                cursor: pointer;
                                span{
                                    margin-right: 8px;
                                }
                                .filter-title{
                                    font-family: Noto Serif;
                                    font-style: normal;
                                    font-weight: 600;
                                    font-size: 16px;
                                    line-height: 150%;
                                    color: #3F3F46;
                                }
                            }
                            #price-dropdown{
                                width: 100% !important;
                                #dropdownPrice{
                                    width: 100% !important;
                                    justify-content: space-between;
                                    height: 48px;
                                    background: #F4F4F5;
                                    padding-left: 16px;
                                    padding-right: 32px;
                                    font-family: inherit;
                                    font-style: normal;
                                    font-weight: 600;
                                    font-size: 16px;
                                    line-height: 140%;
                                    color: #000000;
                                    border-radius: 0px;
                                }
                                .dropdown-menu{
                                    position:relative !important;
                                    transform:none !important;
                                    width: calc(100vw - 32px) !important;
                                    margin-left: 32px !important;
                                    border: none;
                                    .dropdown-item{
                                        justify-content: flex-start !important;
                                        .form-check-label{
                                            margin-left:16px;
                                        }
                                    }
                                }
                                .dropdown-menu::after{
                                    display: none;
                                }
                            }
            
                            #categories-dropdown{
                                width: 100% !important;
                                #dropdownCategories{
                                    width: 100% !important;
                                    justify-content: space-between;
                                    height: 48px;
                                    background: #F4F4F5;
                                    padding-left: 16px;
                                    padding-right: 32px;
                                    font-family: inherit;
                                    font-style: normal;
                                    font-weight: 600;
                                    font-size: 16px;
                                    line-height: 140%;
                                    color: #000000;
                                    border-radius: 0px;
                                }
                                .dropdown-menu{
                                    position:relative !important;
                                    transform:none !important;
                                    width: calc(100vw - 32px) !important;
                                    margin-left: 32px !important;
                                    border: none;
                                    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.1);
                                    .dropdown-item{
                                        justify-content: flex-start !important;
                                        .form-check-label{
                                            margin-left:16px;
                                        }
                                    }
                                }
                                .dropdown-menu::after{
                                    display: none;
                                }
                            }

                            .common-button{
                                display: flex;
                                justify-content: flex-start;
                                position: fixed;
                                bottom:0;
                                width:100%;
                                padding: 16px 32px;
                                .white-bttn{
                                    height: 48px;
                                    width: 80px;
                                    border-radius: 4px;
                                    border: 1px solid #7A0D41;
                                    box-sizing: border-box;
                                    font-family: Source Sans Pro;
                                    font-size: 16px;
                                    font-style: normal;
                                    font-weight: 600;
                                    line-height: 24px;
                                    letter-spacing: 0em;
                                    text-align: center;
                                    color: #000 !important;
                                }
                                .purple-btn{
                                    max-width: 100%;
                                }
                            }
                        }
                    }
                }
            }
            .product-section{
                box-shadow: none;
                margin-top: 0;
                background: #F7F7F7;
            }
        }
    }   
}