#product-detail{
    .dashboard_container{
        .right_col{
            .page-title{
                box-shadow: none;
                a{
                    box-shadow: none;
                    display: flex;
                    span{
                        display: flex;
                        align-items: center;
                    }
                }
            }
            .product-specification{
                h2{
                    font-family: Source Sans Pro;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 150%;
                    display: flex;
                    align-items: center;
                    color: #000000;
                }
                h3{
                    font-family: inherit;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 159.96%;
                    display: flex;
                    align-items: center;
                    color: #000000;
                }
            }
            .product-main{
                .prod-link{
                    padding-top: 16px;
                    a{
                        color:#7A0D41;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 21px;
                    }
                }
            }
        }
    }
}

.stretch-card>.card {
    width: 100%;
    min-width: 100%
}

body {
    background-color: #f9f9fa
}

.flex {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto
}

@media (max-width:991.98px) {
    .padding {
        padding: 1.5rem
    }
}

@media (max-width:767.98px) {
    .padding {
        padding: 1rem
    }
}

.padding {
    padding: 3rem
}

.owl-carousel .item {
    margin: 3px
}

.owl-carousel .item img {
    display: block;
    width: 100%;
    height: auto
}

.owl-carousel .item {
    margin: 3px
}

.owl-carousel {
    margin-bottom: 15px
}


// product slider
.product-detail-slider-wrapper{
    #productCarousel{
        margin: auto;
        .carousel-inner{
            .carousel-item{
                img{
                    border-radius: 8px;
                    height: 225px;
                    overflow: hidden;
                    object-fit: cover;
                    width: 100% !important;
                    max-width: 100% !important;
                }
            }
        }
    }
    #carousel-thumbs{
        width: 100%;
        margin-top: 16px;
        margin-bottom: 16px;
        .carousel-inner{
            .carousel-item{
                .row{
                    justify-content: center;
                }
                .thumb{
                    margin: 0 8px;
                }
                img{
                    width: 50px;
                    height: 50px;
                    border-radius: 8px;
                    object-fit: cover;
                    cursor: pointer;
                }
            }
        }
        .carousel-control-prev, .carousel-control-next{
            background: #E5E7EB;
            border-radius: 100px;
            height: 48px;
            width: 48px;
            top: 14px;
            opacity: 1;
        }
    }
}
.payment-img{
    width: 100px;
}

.select-option{
    background: #FFFFFF;
    padding: 8px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    height: 40px;
    border: 1px solid #fff;
    width: 100%;
    color: #27272A;
    border-bottom: 1px solid #A1A1AA;
}
.product-main .product-specification .size-row, .product-main .product-specification .color-row{
    align-items: center !important;
}
.review-product{
    .product-details{
        img{
            max-width: 150px;
        }
    }
}
.p-rating{
    padding-left: 8px;
}
.rating{
    align-items: center;
    .fa{
        font-size: 15px !important;
        margin-right: 8px;

    }
    .fa.fa-star{
        color: #FACC15;
    }
    .fa.fa-star-o{
        color: #8D8F9A;
    }
    .r-date{
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 150%;
        margin-left: 8px;
        color: #1D1F22;
    }
}
.order-amount{
    font-size: 20px;
    font-weight: 600;
    margin-left: 1px;
}

.review-alert{
    width: 95%;
    bottom: 50px;
}
.price{
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 159.96%;
    color: #000;
}
#total{
    font-size: 18px;
    font-weight: 600;
    color: #000;
}

@media screen and (max-width: 768px){
    .select-option{
        background: #FFFFFF;
        padding: 8px;
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 150%;
       
        border: 1px solid #fff;
        width: 100%;
        color: #27272A;
        border-bottom: 1px solid #A1A1AA;
    }
    
    #countries, #states, #cities, #phone-codes{
        height: 40px !important;
        background-color: #fff !important;
        padding: 8px;
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 150%;
        color: #27272A;
        border-bottom: solid 1px #A1A1AA;
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
}
}