#account-confirm-header{
    background: #fff;
    padding:16px;
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.05);
}
.account-confirm{
    width: 100vw;
    height: 90vh;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:16px;
    img{
        margin-bottom:24px;
    }
    h3{
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        text-align: center;
        color: #1F2937;
    }
    p{  
        padding: 16px;
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        text-align: center;
        color: #6B7280;
    }
}
.phone-no-wrapper{
    display: flex;
    width: 100%;
    select{
        padding: 0px;
        width: 95px;
        height: 40px !important;
    border: none;
    border-bottom: solid 1px #A1A1AA;
    }
}
.shipped-btn{
    width: 115px !important;

}
.select-shipping-address{
    .product-section{
        padding: 0 10px;
    }
    .shipping-address{
        margin-top: 16px;
        box-shadow:none !important;
        @media screen and (max-width: 768px){
            box-shadow:none !important;
        }
    }
    .existing-address{
        margin-left: -10px;
        margin-bottom: 10px;
        border-bottom: 1px solid #ddd;
        padding-bottom:16px;
        .select-address{
            display: flex;
            align-items: center;
            h3{
                font-size: 18px !important;
                margin-left: 8px !important;
               
            }
        }
    }
    
}
.alert-danger, .alert-success{
    width: 98%;
    margin-left: 1%;
    text-align: center;
}