.account-setup{
    .welcome-screen{
        h3{
            //styleName: text-xl/SemiBold;
            font-family: Source Sans Pro;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: 30px;
            padding: 12px;
        }
        p{
            //styleName: text-base/Regular;
            font-family: Source Sans Pro;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: center;
            
        }
    }
}