#cart-page{
    .page-title{
        padding-left:14px;
        .cart-clear{
            margin-right: 5px;
        }
    }
    .product-section{
        padding-bottom: 200px;
    }
    .product-box-inner{
        border-bottom: 0;
        // padding: unset;
        .product-box-content{
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            padding-bottom: 8px;
            border-radius: 0;
            img{
                object-fit: cover;
            }
            .box-content{
                padding: 0px;
                width:100%;
                position: relative;
                p{
                    font-family: Source Sans Pro;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 150%;
                    color: #4B5563;
                    margin-bottom: 8px;
                }
                h2{
                    font-family: Source Sans Pro;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 150%;
                    color: #111827;
                    margin-bottom: 8px;
                }
                .dropdown-content{
                    .form-field{
                        
                        // margin-bottom: 12px;
                        background: transparent;
                        label{
                            margin-bottom: 0;
                            font-family: Source Sans Pro;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 14px;
                            color: #000000;
                            opacity: 0.6;
                        }
                        .multi-select-options{
                            background: rgba(228, 228, 231, 0.5);
                            border-radius: 2.10178px;
                            padding: 3px 7px;
                            align-items: center;
                            span{
                                background-color:transparent ;
                            }
                            select{
                                padding: 0px;
                            
                                background-color: transparent;
                                border: none;
                                option{
                                    padding: 8px;
                                }
                            }
                        }
                        &:first-child{
                            width: 40%;
                            max-width: 40%;
                        }
                        &:nth-child(2){
                            width: 50%;
                            max-width: 50%;
                        }
                    }
                }
                .quantity{
                    margin-bottom: 12px;
                    // text-align: center;
                    font-family: Source Sans Pro;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    color: rgba(0,0,0,0.6);
                    
                    .pluse, .min{
                        background: transparent;
                        border:none;
                        margin: 0px;
                        
                    }
                    .pluse{
                        margin-left: 12px;
                        padding-right: 10px;
                    }
                    .min{
                        padding-left: 10px;
                    }
                   
                    input{
                        text-align: center;
                        width:45px;
                    }
                    .total-quantity{
                        width: 60px;
                        height: 30px;
                        background: #F9FAFB;
                        border: 1px solid #D1D5DB;
                        box-sizing: border-box;
                        border-radius: 2px;
                        font-family: Inter;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 140%;
                         color: #374151;
                         text-align: center;
                    }
                }
                .product-remove{
                    margin-right: 5px;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                }
            }

        }
    }
}