@import "../modules/variables";


    .dashboard_container{
        width: 100%;
        
        .left_col{
            .scroll-view{
                #sidebar-menu{
                    .menu-close-button{
                        display:none;
                    }
                    .user-profile{
                        display:none;
                    }
                }
            }
        }

        .right_col{
            width: 100%;
            padding: 0 !important;
            .page-title{
                width: 100% !important;
                margin: 0 0 24px;
                a{
                    font-family: Noto Serif;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 150%;
                    color: #3F3F46;
                }                
            }
            .dashboard-inner{
                .dashboard-card-outr{
                    margin: 0 !important;
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    .dashboard-card{
                        max-width: 100%;
                        h3{
                            img{
                                width: 40px;
                                height: 40px;
                            }
                        }
                        .common-button{
                            .white-bttn{
                                border-radius: 4px;
                            }
                        }
                    }
                    #card-social{
                        background-color: #FFC300;
                        display: flex;
                        img{
                            width: 48px;
                            height: 48px;
                            margin-right: 16px;
                        }
                        .card-flex{
                            flex-direction: column !important;
                            height: 125px;
                            align-items: flex-start;
                            justify-content: flex-start;
                            h3{
                                font-family: Source Sans Pro;
                                font-size: 24px;
                                font-style: normal;
                                font-weight: 600;
                                line-height: 36px;
                            }
                        }
                        .full-button{
                            padding-left: 64px;
                            a{
                                span{
                                    img{
                                        width: 20px;
                                        height: 20px;
                                    }
                                }
                            }
                        }
                    }
                }
                .product-section{
                    max-width: 100%;
                    display: grid !important;
                    .product-box{
                        max-width: 100%;
                        background-color: transparent;
                        box-shadow: none;
                        .product-box-inner{
                            .product-box-content{
                                position: relative;
                                display: flex;
                                background-color: #fff;
                                border-radius: 8px;
                                box-shadow: 0px 4px 6px rgb(0 0 0 / 10%);
                                img{
                                    width: 50%;
                                    height: auto;
                                }
                                .box-content{
                                    padding: 16px 8px;
                                }
                                .product-rating{
                                    width: 44px;
                                    height: 18px;
                                    background-color: #fff;
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-evenly;
                                    position: absolute;
                                    right:50%;
                                    top:70%;
                                    border-radius: 2.14892px 0px 0px 2.14892px;
                                    .rating-title{
                                        font-style: normal;
                                        font-weight: 600;
                                        font-size: 12.8935px;
                                        display: flex;
                                        align-items: center;
                                        letter-spacing: -0.053792px;
                                        color: #111827;
                                    }
                                    .rating-star{
                                        display: flex;
                                        align-items: center;
                                        img{
                                            width: 10px;
                                            height: 10px;
                                        }
                                    }
                                }
                            }
                            
                        }
                    }
                }
            }
        }
    }




@media screen and (max-width: $screen_768px){
    .model-open{
        -ms-overflow-style: scrollbar;
            overflow: hidden;
            height: 100%;
    }
 
        .dashboard_container{
            width: 100%;
            background: #fff;
            .left_col{
                display:none;
                .scroll-view{
                    #sidebar-menu{
                        transform: translateX(-100%);
                        transition: ease all 0.3s;
                        will-change: transform;
                        width: 100vw;
                        height: 100vh;
                        position: fixed;
                        top:0;
                        left:0;
                        background-color: #fff;
                        z-index: 100;
                        &.show-sidebar{
                            transform: translateX(0);
                            transition: ease all 0.3s;
                        }
                        .menu-close-button{
                            display: inline-block;
                            position: absolute;
                            top: 20px;
                            right: 20px;
                            background: transparent;
                            border: none;
                        }
                        .user-profile{
                            display:inline-block;
                            width: 100%;
                            height: 200px;
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;
                            padding-left: 64px;
                            font-family: Source Sans Pro;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 14px;
                            line-height: 150%;
                            color: #27272A;
                            img{
                                width: 64px;
                                height: 64px;
                                margin-right: 20px;
                            }
                        }
                        .menu_section{
                            h4{
                                display: none;
                            }
                            .side-menu{
                                margin-top: 100px;
                                li{
                                    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.05);
                                    width: 100%;
                                    a{  
                                        padding-top: 16px;
                                        padding-bottom: 16px;
                                        margin-bottom:0px;
                                        display: flex;
                                        justify-content: flex-start;
                                        align-items: center;
                                        font-family: Source Sans Pro;
                                        font-style: normal;
                                        font-weight: normal;
                                        font-size: 16px;
                                        line-height: 150%;
                                        display: flex;
                                        align-items: flex-end;
                                        color: #27272A;
                                        img{
                                            
                                            margin-left: 50px !important;
                                            margin-right: 30px !important;
                                        }
                                        span{
                                            display: none;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .right_col{
                .page-title{
                    margin-bottom:0;
                    box-shadow: none;
                    a{
                        font-family: Noto Serif;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 150%;
                        color: #3F3F46;

                        img{
                            width: 20px;
                            height: 20px;
                            vertical-align: text-bottom;
                        }
                    }
                }
                .dashboard-inner{
                    background: #fff;
                    .product-section{
                        margin-top:0;
                        display: block !important;
                        .product-box{
                            box-shadow: none !important;
                        }
                        .product-box-inner{
                            border-bottom:1px solid rgba(0,0,0,0.1);
                            padding-bottom: 16px;
                            .product-box-content{
                                box-shadow: none !important;
                                .box-content{
                                    
                                    .dropdown-content{
                                        display: flex;
                                        max-width: 100%;
                                        .form-field{
                                            max-width: 72px;
                                            height: 28px;
                                            border-radius:2.1px;
                                            background: #E4E4E780;
                                            margin-right: 8px !important;
                                            .multi-select-options{
                                                background: #E4E4E780;
                                                height: 100%;
                                                button{
                                                    height: 100%;
                                                    border-bottom: none;
                                                    display: flex !important;
                                                    align-items: center;
                                                    justify-content: space-between;
                                                    font-family: Source Sans Pro;
                                                    font-style: normal;
                                                    font-weight: normal;
                                                    font-size: 14px;
                                                    line-height: 150%;
                                                    color: #000000;
                                                    opacity: 0.6;
                                                    
                                                    h2{
                                                        font-family: Inter;
                                                        font-style: normal;
                                                        font-weight: normal;
                                                        font-size: 12.8333px;
                                                        line-height: 150%;
                                                        color: #000000;
                                                    }

                                                    img{
                                                        width: 9px;
                                                        height: 9px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    span{
                                        padding:0;
                                        display: flex;
                                        align-items: center;
                                        justify-content: flex-end;
                                        background: transparent;
                                        font-family: Source Sans Pro;
                                        font-style: normal;
                                        font-weight: normal;
                                        font-size: 12px;
                                        line-height: 108.1%;
                                        text-transform: uppercase;
                                        color: #3F3F46;
                                        cursor: pointer;
                                        img{
                                            width:16px;
                                            height:16px;
                                            margin-right: 8px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .checkout-section{
                    
                    width: 100%;
                    position: fixed;
                    bottom: 0;
                    height: 175px;
                    justify-content: center;
                    display: flex;
                    flex-direction: column;
                    background: #FFFFFF;
                    box-shadow: 0px 4px 16px rgb(0 0 0 / 10%);
                    border-radius: 4px;
                    padding: 20px;
                    h3{
                        font-family: Source Sans Pro;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 150%;
                        color: #27272A;
                        padding: 7px 0 9px 0;
                        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                    }
                    ul{
                        display: flex;
                        justify-content: space-between;
                        padding: 16px 0 32px 0;
                        li{
                            font-family: Source Sans Pro;
                            font-style: normal;
                            font-weight: 600;
                            font-size: 16px;
                            line-height: 150%;
                            color: #000000;
                        }
                    }
                    .purple-btn{
                        max-width: 100%;
                        margin: auto;
                        height: 48px;
                        border-radius: 4px;
                        font-family: Source Sans Pro;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 150%;
                        text-align: center;
                        color: #FFFFFF;
                    }
                }
            }
        }
    
}