.eshop{
    .dashboard_container{
        width: 100%;
      
        .add-product-page{
            width: 100%;
            .dashboard-inner{
                .product-banner{
                    padding-bottom: 0px;
                    background: #F7F7F7;
                    .banner-image{
                        width: 100%;
                    }
                    .banner-section{
                        img{
                            width: 146px;
                            height: 146px;
                        }
                        padding: 32px;
                        display: flex;
                        .banner-content{
                            display: flex;
                            flex-direction: column;
                            padding: 16px;
                            align-items: flex-start;
                            h3{
                                padding: 16px 8px;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 600;
                                line-height: 24px;
                                color:#2D2B2B;
                            }
                            p{
                                padding: 8px;
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 21px;
                            }
                            .common-button{
                                padding: 16px 8px;
                                width: 100% !important;
                                justify-content: flex-start !important;
                                .white-bttn{
                                    margin: 0px 8px !important;
                                    height: 40px;
                                    width: 164px;
                                    background: transparent !important;
                                    border-radius: 4px;
                                }
                            }
                        }
                    }
                    .alert{
                        margin: 16px 0px;
                        display: flex;
                        justify-content: space-between;
                        background: #14B8A633 !important;
                        .alert-content{
                            width: 50%;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 21px;
                        }
                        .alert-button{
                            border: none;
                            background-color: #18181B;
                            height: 40px;
                            width: 113px;
                            left: 1007px;
                            top: 15.5px;
                            border-radius: 4px;
                            padding: 15px, 70px, 15px, 70px;
                            color: #fff;
                        }
                    }
                    
                }
                .product-section{
                    max-width: 100%;
                    display: grid !important;
                    .product-box{
                        max-width: 100%;
                        background-color: transparent;
                        box-shadow: none;
                        .product-box-inner{
                            
                            width: 272px;
                            border-radius: 4px;
                            display: flex;
                            flex-direction: column !important;
                            border-bottom: none;
                            .product-box-content{
                                position: relative;
                                display: flex;
                                flex-direction: column;
                                background-color: #fff;
                                border-radius: 8px;
                                box-shadow: 0px 4px 6px rgb(0 0 0 / 10%);
                                img{
                                    width: 100% !important;
                                    
                                }
                                .box-content{
                                    padding: 16px 8px !important;
                                    margin:0;
                                    .white-bttn{
                                        width: 100%;
                                        padding: 8px;
                                        border-radius: 4px;
                                    }
                                }
                                .product-rating{
                                    width: 44px;
                                    height: 18px;
                                    background-color: #fff;
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-evenly;
                                    position: absolute;
                                    right:0px !important;
                                    top:180px;
                                    border-radius: 2.14892px 0px 0px 2.14892px;
                                    .rating-title{
                                        font-style: normal;
                                        font-weight: 600;
                                        font-size: 12.8935px;
                                        display: flex;
                                        align-items: center;
                                        letter-spacing: -0.053792px;
                                        color: #111827;
                                    }
                                    .rating-star{
                                        img{
                                            width: 10px;
                                            height: 10px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.filter-wrapper{
    .common-button{
        background: #fff;
        z-index: 9999;
        overflow: hidden;
    }
}