.product-main{
    display: flex;
    justify-content: space-between;
    padding: 13px 0 0 0;

    .product-detail-cont {
        max-width: 48%;
        flex: 0 0 48%;

        .browse-box {
            img {
            width: 555px;
            height: 436px;
            overflow: hidden;
            object-fit: cover;
            border-radius: 8px;
        }
    }

    .browse-items {
        display: flex;
        align-items: center;
        max-width: 570px;
        width: 100%;
        margin: 15px 0 0 0;
    
        .browse-ss {
            width: 80px;
            margin: 0 11px;
            border-radius: 8px;
            img{
                width: 78px;
                height: 71px;
                object-fit: cover;
                border-radius: 4px;
                overflow: hidden;
            }
    
            @media screen and (max-width: 767px){
                margin: 0 4px;
            }
    
            
        }
    
        span{
            width: 40px;
            height: 40px;
            text-align: center;
            background: #e1e1e1;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 20px;
            font-weight: bold;
            margin: 0 5px 0 0;
    
            @media screen and (max-width: 767px){
                height: auto;
            }
        }
    }
    }

    .product-specification{
        max-width: 48%;
        flex: 0 0 48%;

        h2 {
            font-weight: 700;
            font-size: 29px;
            margin: 0 0 15px 0;
            line-height: 38px;
        }

        h3{
            font-size: 20px;
            font-weight: 700;
            margin: 0;

            label{
                font-size: 24px;
            font-weight: 600; 
            width: 100px;
            }

            b{
                font-size: 24px;
            }
        }
        .spec-row{
            display: flex;
            align-items: flex-start;
            margin: 25px 0 0 0;

            label{
                font-size: 16px;
                width: 100px;
                font-weight: 600;
            }
            div{
                display: flex;
                align-items: flex-start;
                input{
                    display: none;
                }

            h3{
                font-size: 24px;
                font-weight: 600;
                margin: 0;
            }

            button{
                margin: 0 0 0 10px;
                background: #E0FFE5;
                border: 0.5px solid #219653;
                border-radius: 1px;
                color: #27AE60;
                font-size: 14px;
                padding: 2px 9px;
            }

            span{
                font-weight: normal;
                font-size: 18px;
                margin: 0 10px 0 0;
            }

            .color-box{
                width: 40px;
                height: 40px;
                margin: 0 13px 0 0;
            }

            .pink-volor {
                width: 40px;
                height: 40px;
                background: #FECACA;
                margin: 0 13px 0 0;
            }
            .orange-volor {
                width: 40px;
                height: 40px;
                background: #FDBA74;
                margin: 0 13px 0 0;
            }
            .blue-volor {
                width: 40px;
                height: 40px;
                background: #CCFBF1;
                margin: 0 13px 0 0;
            }
        }
        }

        .prod-desc {
            margin: 20px 0 0 0;

            label{
                font-size: 16px;
                width: 100px;
                font-weight: 600;
            }
        }

        .prod-spec{
            margin: 20px 0 0 0;

            label{
                font-size: 16px;
                width: 100%;
                font-weight: 600;
            }

            ul{
                margin: 10px 0 0 0;
                li{
                    display: block;
                    width: 100%;
                    margin: 0 0 10px 0;
                    padding: 0 0 0 15px;
                    position: relative;

                    &:before{
                        position: absolute;
                        left: 0;
                        width: 6px;
                        height: 6px;
                        background: #6A6A6A;
                        border-radius: 50%;
                        content: "";
                        top: 8px;
                    }
                }
            }

            .review-author {
                margin: 0 0 6px 0;

                span{
                    display: inline-block;
                    vertical-align: top;
                    width: 16px;
                    height: 16px;
                    margin: -1px 0 0 0;
                }
            }

            .date {
                margin: 0 0 10px 0;
                font-size: 14px;
            
                img {
                margin: 0 10px 0 0;
                }
            }
        }


        // Size Row Style Start //
        .common-button {
            margin: 38px 0 0 0;
        }

        .size-row{
            display: flex;
            align-items: flex-start;
            margin: 25px 0 0 0;
            padding: 0px 16px;
            label{
                font-size: 16px;
                width: 100px;
                font-weight: 600;
            }
            .size-list{
                display: flex;
                align-items: flex-start;
                label{
                    width: 40px;
                    height: 40px;
                    border: 1px solid #000;
                    border-radius:50%;
                    margin: 0 13px 0 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-family: Source Sans Pro;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;                    
                    color: #1D1F22;
                }
                .size-input{
                    display: none;
                }
                .size-input:checked + label{
                    border: 1px solid #8A0E49 !important;
                    color: #8A0E49;
                }
            }
        }
        // Size Row Style End //


        // Color Row Style Start //
        .color-row{
            display: flex;
            align-items: flex-start;
            margin: 25px 0 0 0;
            padding: 0px 16px;
            label{
                font-size: 16px;
                width: 100px;
                font-weight: 600;
            }
            .color-list{
                display: flex;
                align-items: flex-start;
                #color-1{
                    background: #4C1D95;
                }
                #color-2{
                    background: #FCA5A5;
                }
                #color-3{
                    background: #FDBA74;
                }
                #color-4{
                    background: #F472B6;
                }


                label{
                    width: 40px;
                    height: 40px;
                    background-color: #FECACA;
                    margin: 0 13px 0 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img{
                        visibility: hidden;
                    }
                }
                .color-input{
                    display: none;
                }

                .color-input:checked + label{
                    border: 1px solid rgba(0,0,0,0.5) !important;
                    img{
                        visibility: visible;
                    }
                }
                
            }
        
        }
        // Color Row Style End //

    }
}
#countries, #states, #cities, #phone-codes{
        height: 40px !important;
        background-color: #fff !important;
        padding: 8px;
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 150%;
        color: #27272A;
        border-bottom: solid 1px #A1A1AA;
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
}

@media screen and (max-width: 768px){
    .dashboard_container .right_col .dashboard-inner .product-section .product-box .product-box-inner .product-box-content img{
        max-height: 200px !important;
    }
}