/*
	App Sprite
--------------------------- */

@mixin cssSprite( $spriteVals ) {
	width: nth( $spriteVals, 1 );
	height: nth( $spriteVals, 2 );
	background-repeat: no-repeat;
	background-image: url( #{ nth( $spriteVals, 3 ) } );
	background-position: nth( $spriteVals, 4 ) nth( $spriteVals, 5 );
}

/* ----- Search bar----- */
$search_desktop: 600px 42px '../img/sprite.png' 0 -173px;
